<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/administrator">Campus İlan Admin Paneli</a>
	</div>
	<!-- Top Menu Items -->
	<ul class="nav navbar-right top-nav">

		<li >

			<a href="/">Siteye Geri Dön</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
			<ul class="dropdown-menu message-dropdown">
				<li class="message-preview">
					<a href="#">
					<div class="media">
						<span class="pull-left"> <img class="media-object" src="http://placehold.it/50x50" alt=""> </span>
						<div class="media-body">
							<h5 class="media-heading"><strong><%= current_user.name %> <%= current_user.surname %></strong></h5>
							<p class="small text-muted">
								<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur...
							</p>
						</div>
					</div> </a>
				</li>
				<li class="message-preview">
					<a href="#">
					<div class="media">
						<span class="pull-left"> <img class="media-object" src="http://placehold.it/50x50" alt=""> </span>
						<div class="media-body">
							<h5 class="media-heading"><strong><%= current_user.name %> <%= current_user.surname %></strong></h5>
							<p class="small text-muted">
								<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur...
							</p>
						</div>
					</div> </a>
				</li>
				<li class="message-preview">
					<a href="#">
					<div class="media">
						<span class="pull-left"> <img class="media-object" src="http://placehold.it/50x50" alt=""> </span>
						<div class="media-body">
							<h5 class="media-heading"><strong><%= current_user.name %> <%= current_user.surname %></strong></h5>
							<p class="small text-muted">
								<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur...
							</p>
						</div>
					</div> </a>
				</li>
				<li class="message-footer">
					<a href="#">Tüm Mesajlara Bak</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
			<ul class="dropdown-menu alert-dropdown">
				<li>
					<a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
				</li>
				<li>
					<a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
				</li>
				<li>
					<a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
				</li>
				<li>
					<a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
				</li>
				<li>
					<a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
				</li>
				<li>
					<a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Tümünü Gör</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <%= current_user.surname %> <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-fw fa-envelope"></i> Mesajlarım</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-fw fa-gear"></i> Ayarlar</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#"><i class="fa fa-fw fa-power-off"></i> Çıkış Yap</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav">
			<li class="active">
				<a href="/administrator"><i class="fa fa-fw fa-dashboard"></i> Kontrol Paneli</a>
			</li>
			<li>
				<a href="/administrator/charts"><i class="fa fa-fw fa-bar-chart-o"></i> Çizelgeler</a>
			</li>
			<li>
				<a href="/administrator/tables"><i class="fa fa-fw fa-table"></i> Tablolar</a>
			</li>

			<li>
				<a href="/administrator/ilanlar"><span class="glyphicon glyphicon-list-alt"></span> İlanlar</a>
			</li>

			<li>
				<a href="/administrator/uyeler"><span class="glyphicon glyphicon-user"></span> Üyeler</a>
			</li>

			<li>
				<a href="/administrator/yorumlar"><span class="glyphicon glyphicon-comment"></span> Yorumlar</a>
			</li>
			<li>
				<a href="/administrator/forms"><i class="fa fa-fw fa-edit"></i> Formlar</a>
			</li>
			<li>
				<a href="/administrator/bootstrapelements"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
			</li>

			<li>
				<a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
				<ul id="demo" class="collapse">
					<li>
						<a href="#">Dropdown Item</a>
					</li>
					<li>
						<a href="#">Dropdown Item</a>
					</li>
				</ul>
			</li>

		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>