<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<meta charset="utf-8">

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
		<!-- Bootstrap -->

		<link href="resources/css/bootstrap.min.css" rel="stylesheet">

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<!-- dropdown login box -->

		<link rel="stylesheet"
		href="resources/plugins/dropdownloginbox/css/style.css" />

		<script src="resources/plugins/dropdownloginbox/js/login.js"></script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<!-- Cssmenu-3 -->

		<link rel="stylesheet" href="resources/plugins/cssmenu-3/styles.css">
		<script src="resources/plugins/cssmenu-3/script.js"></script>

		<!-- Arama Kutucuğu-->

		<link href="/resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<script src="/resources/js/modernizer.js"></script>

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- end of plugins  -->

		<style>
			body {
				background-color: #F0F7F7;
			}
			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
					padding-right: 50px;
					padding-top: 30px;
				}
			}
			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}
			.nav-pills > li > a:hover {
				color: #fff;
				background-color: #337ab7
			}
		</style>

	</head>

	<body>

		<div class="container-fluid">

			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

			<!-- Include all compiled plugins (below), or include individual files
			as needed -->
			<script src="resources/js/bootstrap.min.js"></script>

			<div class="row" style="margin-bottom: 10px;">

				<!-- Login Starts Here -->

				<%= render "loginContainer" %>

				<!-- Login Ends Here -->

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<div class="row">

				<%= render "smartmenus" %>

			</div>

			<div class="row hidden-xs hidden-sm" style="height: 60%; padding-bottom: 20px; margin-bottom: 30px; margin-top: 30px;">

				<div class="row" style="padding-left: 20px; padding-right: 20px;">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

						<%= render "kullanicipaneli"   %>

						<div class="well">

							Buraya kafana göre bir şeyler ekle...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>
							...
							<br>

						</div>

					</div>

					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"
					style="padding-left: 20px; padding-right: 20px">

						<div class="row">

							<div class="col-md-12">

								<div class="row">
									<h4 class="col-md-3">Mesajlarım</h4>

									<a style="float:right;margin-bottom:20px;" type = "button" data-title="Edit"
									data-toggle="modal" data-target="#mesajgonder" class = "mesajgonderbutonu btn btn-danger">Mesaj Gönder</a>

								</div>

								<div class="row table-responsive">

									<table id="mytable" class="table table-bordred table-striped">

										<thead>

											<th>
											<input type="checkbox" id="checkall" />
											</th>
											<th>Ad</th>
											<th>Soyad</th>
											<th>Konu</th>
											<th>Kullanıcı Adı</th>
											<th>Tarih</th>
											<th style="display:none;">Mesaj Id</th>
											<th>Cevapla</th>
											<th>Sil</th>

										</thead>
										<tbody>

											<% messages = current_user.tos.paginate(:page => params[:page], :per_page => 10)  %>
											<% messages.each do |mesaj| %>

											<tr>

												<td>
												<input type="checkbox" class="checkthis" />
												</td>
												<td><%= mesaj.from.name %></td>
												<td><%= mesaj.from.surname %></td>
												<td><%= mesaj.topic %></td>
												<td><%= mesaj.from.username %></td>
												<td><%= mesaj.created_at %></td>
												<td style="display:none;"><%= mesaj.id %></td>
												
												<td>
												<p data-placement="top" data-toggle="tooltip"
												title="Edit">
													<button class="btn btn-primary btn-xs <%= mesaj.from.username %>" data-title="Edit"
													data-toggle="modal" data-target="#mesajcevapla">
														<span class="glyphicon glyphicon-pencil"></span>
													</button>
												</p></td>

												<td>
												<p data-placement="top" data-toggle="tooltip"
												title="Delete">
													<button class="<%= mesaj.id %>  btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#mesajsil">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</p></td>

												<script>
$(".<%= mesaj.from.username %>").click(function() {

	$(".cevaplapaneli .ickisim").attr("placeholder", "<%= mesaj.from.username %>");

	$(".cevaplapaneli .ickisim").val("<%= mesaj.from.username %>");
	});
	

$(".<%= mesaj.id %>").click(function() {

	

	$(".silpaneli .mesajid").val("<%= mesaj.id %>");

});


												</script>
												
												

											</tr>

											<% end %>

										</tbody>

									</table>

								</div>

								<link href="http://mislav.github.io/will_paginate/pagination.css" rel="stylesheet">

								<% if messages.count > 10 %>

								<div class="apple_pagination">
									<%= will_paginate messages, :container => false,
									:previous_label => 'Önceki', :next_label => 'Sonraki' %>
								</div>

								<% end %>

							</div>

							<%= form_for :mesaj, :url => 'mesajgonder',:html => {id: 'mesajcevaplaformu'} do |m| %>

							<div class="cevaplapaneli modal fade" id="mesajcevapla" tabindex="-1" role="dialog"
							aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<h4 class="modal-title custom_align" id="Heading">Mesajı Cevapla</h4>

											<br>

											<span style="display:none;color:red"  class="basarisiz">Mesaj Gönderme Başarısız</span>

											<span style="display:none;color:green"  class="basarili">Mesaj Başarıyla Gönderildi</span>
										</div>
										<div class="modal-body">
											<div class="form-group">
												<%= m.text_field :username,type: "text",placeholder:"Kullanıcı Adı",class:"form-control kullaniciadi ickisim",readonly: true %>

											</div>
											<div class="form-group">

												<%= m.text_field :topic,type: "text",placeholder: "Konu",class: "form-control" %>

											</div>
											<div class="form-group">
												<%= m.text_area :text,rows: "2",class:"form-control",placeholder: "Mesaj İçeriği" %>

											</div>
										</div>
										<div class="modal-footer ">
											<button onclick="mesajcevapla()" type="button" class="gonderbutonu btn btn-warning btn-lg"
											style="width: 100%;">
												<span class="glyphicon glyphicon-ok-sign"></span> Gönder
											</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>

							<% end %>

							<%= form_for :mesaj, :url => 'mesajgonder',:html => {id: 'mesajgonderformu'} do |m| %>

							<div class="modal fade" id="mesajgonder" tabindex="-1" role="dialog"
							aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>

											<h4 class="modal-title custom_align" id="Heading">Mesaj Gönder</h4>

											<br>

											<span style="display:none;color:red"  class="basarisiz">Mesaj Gönderme Başarısız</span>

											<span style="display:none;color:green"  class="basarili">Mesaj Başarıyla Gönderildi</span>

										</div>
										<div class="modal-body">
											<div class="form-group">
												<%= m.text_field :username,type: "text",placeholder:"Kullanıcı Adı",class:"form-control kullaniciadi" %>
											</div>
											<div class="form-group">

												<%= m.text_field :topic,type: "text",placeholder: "Konu",class: "form-control konu" %>
											</div>
											<div class="form-group">
												<%= m.text_area :text,rows: "2",class:"form-control",placeholder: "Mesaj İçeriği" %>

											</div>
										</div>
										<div class="modal-footer ">
											<button onclick="mesajgonder()" type="button" class="gonderbutonu btn btn-warning btn-lg"
											style="width: 100%;">
												<span class="glyphicon glyphicon-ok-sign"></span> Gönder
											</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>

							<% end %>

							<%= form_for :mesaj, :url => 'mesajsil',:html => {id: 'mesajsilformu'} do |m| %>

							<div class="silpaneli modal fade" id="mesajsil" tabindex="-1" role="dialog"
							aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<h4 class="modal-title custom_align" id="Heading">Bu Mesajı Sil</h4>
											
											<br>

											<span style="display:none;color:red"  class="basarisiz">Mesaj Gönderme Başarısız</span>

											<span style="display:none;color:green"  class="basarili">Mesaj Başarıyla Gönderildi</span>
										</div>
										<div class="modal-body">

											<div class="alert alert-danger">
												<span class="glyphicon glyphicon-warning-sign"></span> Silmek istediğinden emin misin?
											</div>
											
											<div style="display:none;" class="form-group">
												<%= m.text_field :mesajid,type: "text",class:"form-control mesajid" %>
											</div>

										</div>
										
										
										<div class="modal-footer ">
											<button onclick="mesajsil()" type="button" class="btn btn-success">
												<span class="glyphicon glyphicon-ok-sign"></span> Evet
											</button>
											<button type="button" class="btn btn-default"
											data-dismiss="modal">
												<span class="glyphicon glyphicon-remove"></span> Hayır
											</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>

							<% end %>

							<div class="modal fade" id="warning" tabindex="-1" role="dialog"
							aria-labelledby="edit" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</button>
											<h4 class="modal-title custom_align" id="Heading">Mesaj Gönderimi</h4>
										</div>
										<div class="modal-body">

											<div class="alert alert-danger">
												<span class="glyphicon glyphicon-warning-sign"></span> Mesaj Gönderimi:
											</div>

										</div>

									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>

						</div>

					</div>

				</div>

				<div class="row">

					<%= render "footer" %>

				</div>

			</div>

			<!-- Mesaj ajaxlar-->

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

			<script src="resources/js/bootstrap.min.js"></script>

			<script>
				var $modaljquery = jQuery.noConflict();

			</script>

			<script>
				function mesajgonder() {

					$modaljquery('#warning').modal({
						show : false
					})

					var form = document.getElementById("mesajgonderformu");
					var username = form.elements['mesaj_username'].value;

					var topic = form.elements['mesaj_topic'].value;

					var text = form.elements['mesaj_text'].value;

					$.ajax({

						url : 'mesajgonder',
						data : {
							authenticity_token : window._token,
							username : username,
							topic : topic,
							text : text
						},
						error : function() {

						},
						dataType : 'json',
						success : function(data) {

							if (!data.check) {

								$(".basarisiz").show();

							} else {

								$(".basarisiz").hide();
								$(".basarili").show();

								$(".kullaniciadi").attr('disabled', 'disabled');
								$(".konu").attr('disabled', 'disabled');
								$("textarea#mesaj_text").attr('disabled', 'disabled');

								$(".gonderbutonu").attr('disabled', 'disabled');

							}

							$modaljquery("#mesajgonder").on('hidden.bs.modal', function() {

								$(".kullaniciadi").val("");
								$(".konu").val("");
								$("textarea#mesaj_text").val("");

								$(".basarisiz").hide();

								$(".basarili").hide();

								$(".kullaniciadi").removeAttr('disabled');
								$(".konu").removeAttr('disabled');
								$("textarea#mesaj_text").removeAttr('disabled');

								$(".gonderbutonu").removeAttr('disabled');

							});

						},
						
						type : 'POST'

					})

				}
				
				
				
				function mesajcevapla() {

					$modaljquery('#warning').modal({
						show : false
					})

					var form = document.getElementById("mesajcevaplaformu");
					var username = form.elements['mesaj_username'].value;

					var topic = form.elements['mesaj_topic'].value;

					var text = form.elements['mesaj_text'].value;

					$.ajax({

						url : 'mesajgonder',
						data : {
							authenticity_token : window._token,
							username : username,
							topic : topic,
							text : text
						},
						error : function() {

						},
						dataType : 'json',
						success : function(data) {

							if (!data.check) {

								$(".basarisiz").show();

							} else {

								$(".basarisiz").hide();
								$(".basarili").show();

								$(".kullaniciadi").attr('disabled', 'disabled');
								$(".konu").attr('disabled', 'disabled');
								$("textarea#mesaj_text").attr('disabled', 'disabled');

								$(".gonderbutonu").attr('disabled', 'disabled');

							}

							$modaljquery("#mesajgonder").on('hidden.bs.modal', function() {

								$(".kullaniciadi").val("");
								$(".konu").val("");
								$("textarea#mesaj_text").val("");

								$(".basarisiz").hide();

								$(".basarili").hide();

								$(".kullaniciadi").removeAttr('disabled');
								$(".konu").removeAttr('disabled');
								$("textarea#mesaj_text").removeAttr('disabled');

								$(".gonderbutonu").removeAttr('disabled');

							});

						},
						
						type : 'POST'

					})

				}
				
				function mesajsil() {
					
					$modaljquery('#warning').modal({
						show : false
					})

					
					var form = document.getElementById("mesajsilformu");
					var mesajid = form.elements['mesaj_mesajid'].value;
					
					
					$.ajax({

						url : 'mesajsil',
						data : {
							authenticity_token : window._token,
							mesajid : mesajid
						},
						error : function() {

						},
						dataType : 'json',
						success : function(data) {

							if (!data.check) {

								

							} else {

							}

							
						},
						dataType : 'json',
						type : 'POST',

					});
	
				}

			</script>

			<script>
				$modaljquery("#mesajgonder").on('hidden.bs.modal', function() {
					location.reload();
				});
				
				$modaljquery("#mesajcevapla").on('hidden.bs.modal', function() {
					location.reload();
				});
				
				$modaljquery("#mesajsil").on('hidden.bs.modal', function() {
					location.reload();
				});
				
				

			</script>

			<!-- pluginler -->

			<!--  fixed header -->

			<%= render "headerfixedjs" %>

			<!--  Mesajlar paneli -->

			<script type="text/javascript">
				$(document).ready(function() {
					$("#mytable #checkall").click(function() {
						if ($("#mytable #checkall").is(':checked')) {
							$("#mytable input[type=checkbox]").each(function() {
								$(this).prop("checked", true);
							});
						} else {
							$("#mytable input[type=checkbox]").each(function() {
								$(this).prop("checked", false);
							});
						}
					});

				});
			</script>
	</body>

</html>