<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<meta charset="utf-8">

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<%= render 'metalar' %>
		<!-- Bootstrap -->
		<link href="resources/css/bootstrap.min.css" rel="stylesheet">

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<!-- dropdown login box -->

		<link rel="stylesheet"
		href="resources/plugins/dropdownloginbox/css/style.css" />

		<script src="resources/plugins/dropdownloginbox/js/login.js"></script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<link href="resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- end of plugins  -->

		<style>
			body {
				background-color: #F0F7F7;
			}

			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
					padding-right: 50px;
					padding-top: 5px;
				}
			}

			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}

		</style>

	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files
		as needed -->
		<script src="resources/js/bootstrap.min.js"></script>

		<div class="container-fluid">

			<div class="visible-xs visible-sm row" style="margin-bottom: 10px;">

				<div id="loginkismi "  class="visible-xs ">
					<!-- Login Starts Here -->
					<%= render "loginContainer" %>
					<!-- Login Ends Here -->

				</div>

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<!-- You need this element to prevent the content of the page from jumping up -->
			<div class="header-fixed-placeholder"></div>

			<div class="row">

				<%= render "smartmenus" %>

			</div>

			<div  class="row well">

				<%if params[:hataligiris]%>
				<div class="row">

					<div style="margin-left:20px;" class="col-lg-4 col-md-4 hidden-sm hidden-xs alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Kullanıcı adınızı veya şifrenizi yanlış girdiniz
					</div>

					<div style="margin-left:20px;"  class="hidden-lg hidden-md col-sm-6	 col-xs-10 alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Kullanıcı adınızı veya şifrenizi yanlış girdiniz
					</div>

				</div>

				<%elsif params[:onay]%>
				<div class="row">

					<div style="margin-left:20px;"class="col-lg-4 col-md-5 hidden-sm hidden-xs alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Hesabınız henüz onaylanmadı
					</div>

					<div style=""class="hidden-lg hidden-md col-sm-12 col-xs-12 alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Hesabınız henüz onaylanmadı
					</div>

				</div>

				<%elsif params[:silinmis]%>
				<div class="row">

					<div style="margin-left:20px;"class="col-lg-4 col-md-5 hidden-sm hidden-xs alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Hesabınız silinmiş tekrar etkinleştirmek için admin ile iletişime geçiniz
					</div>

					<div style=""class="hidden-lg hidden-md col-sm-12 col-xs-12 alert alert-danger">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Hata!</strong> Hesabınız silinmiş tekrar etkinleştirmek için admin ile iletişime geçiniz
					</div>

				</div>

				<%end%>

				<div class="row">

					<div class="mainbox col-lg-5 col-md-5" id="loginbox" style="margin-top: 20px;">
						<div class="panel panel-info">
							<div class="panel panel-heading">
								<div class="panel-title">
									Giriş Yap
								</div>
								<div style="float: right; font-size: 80%; position: relative; top: -10px">
									<a href="/sifremiunuttum">Şifrenizi mi unuttunuz?</a>
								</div>
							</div>

							<div style="padding-top: 30px" class="panel-body">

								<div style="display: none" id="login-alert"
								class="alert alert-danger col-sm-12"></div>

								<%= form_tag '/login', :id => 'loginform', :class => 'form-horizontal', :role => 'form' do  %>

								<div style="z-index:1;margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span>
									<%= text_field_tag :username, nil, :class => 'form-control', :placeholder => 'Kullanıcı Adı', :id => 'login-username'%>
								</div>

								<div style="z-index:1;margin-bottom: 25px" class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-lock"></i></span>
									<%= password_field_tag :password, nil, :class => 'form-control', :placeholder => 'Şifre',
									:id => 'login-password', :type => 'password'%>
								</div>

								<div class="input-group">
									<div class="checkbox">
										<label for="checkbox"> <%= check_box_tag :remember, 1, false, :id => 'login-remember', :type => 'checkbox' %>
											Beni hatırla </label>
									</div>
								</div>

								<div style="margin-top: 10px" class="form-group">
									<!-- Button -->

									<div class="col-sm-12 col-xs-12 controls">

										<input style="width:100%;" id="btn-login" class="visible-xs btn btn-success" type="submit" value="Giriş" />

										<input  id="btn-login" class="hidden-xs btn btn-success" type="submit" value="Giriş" />

										<br class="visible-xs">
										<br class="visible-xs">

										<br class="visible-xs">
										<br class="visible-xs">
										<a style="width:100%;" id="register" href="/kayitol"
										class="visible-xs btn btn-primary">Kayıt Ol</a>

										<a id="register" href="/kayitol"
										class="hidden-xs btn btn-primary">Kayıt Ol</a>

										<div style="float:right;" class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
									</div>
								</div>

								<% end %>

							</div>
						</div>

					</div>

					<div style="padding-left:50px;margin-top: 20px;" class="hidden-xs hidden-sm col-lg-7 col-md-7">

						-Kullanım Koşulları için <a href="/kullanimkosullari">buraya</a> tıklayınız.
						<br>
						<br>

						-Sitemizin işleyişiyle ilgili bilgi mi almak istiyorsunuz? <a href="">Buraya</a> tıklayın.
						<br>
						<br>
						-Üye oldunuz ve aktivasyon e-postası gelmedi mi? O zaman <a href="/aktivasyon" >buraya</a> tıklayınız.
						<br>
						<br>
						-Hala daha yardıma mı ihtiyacınız var? O zaman <a href="/yardim">buraya</a> tıklayın.
						<br />
						<br>

						<img class="img-responsive" width="150px" src="/resources/images/login-icon.png" >

					</div>

					<div style="margin-top: 20px;" class="visible-xs visible-sm col-lg-7 col-md-7">

						-Kullanım Koşulları için <a href="/kullanimkosullari">buraya</a> tıklayınız.
						<br>
						<br>

						-Sitemizin işleyişiyle ilgili bilgi mi almak istiyorsunuz? <a href="">Buraya</a> tıklayın.
						<br>
						<br>
						-Üye oldunuz ve aktivasyon e-postası gelmedi mi? O zaman <a href="/aktivasyon" >buraya</a> tıklayınız.
						<br>
						<br>
						-Hala daha yardıma mı ihtiyacınız var? O zaman <a href="/yardim">buraya</a> tıklayın.
						<br />
						<br>

						<img class="img-responsive"  width="150px"src="/resources/images/login-icon.png" >

					</div>

				</div>

			</div>

			<div class="row">

				<%= render "footer" %>

			</div>

		</div>

		<!-- pluginler -->

		<!--  fixed header -->

		<%= render "headerfixedjs" %>

		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
					var js,
					    fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=520201524824599";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>

	</body>

</html>