<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<%= csrf_meta_tags %>
		<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
		<meta charset="utf-8">

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet">

		<!--  jquery & jquery ui import -->

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<link rel="stylesheet"
		href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<link href="/resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="/resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="/resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="/resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="/resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- Cssmenu-3 -->

		<link rel="stylesheet" href="/resources/plugins/cssmenu-3/styles.css">
		<script src="/resources/plugins/cssmenu-3/script.js"></script>

		<!-- user panel -->

		<link rel="stylesheet" href="/resources/css/userpanel.css">

		<!-- Hesap Ayarları formu -->

		<link rel="stylesheet" href="/resources/assets/form-basic.css">

		<!-- Tekliflerim kısmı-->

		<link rel="stylesheet" href="/resources/css/teklifler.css">

		<!-- Calendar plugin -->

		<link rel="stylesheet" href="/resources/plugins/calendarplugin/public/css/default.css">

		<script>
			var calendar = jQuery.noConflict();
		</script>

		<script>
			window.jQuery || document.write('<script src="resources/plugins/calendarplugin/public/javascript/jquery.min.js"><\/script>')
		</script>

		<script src="/resources/plugins/calendarplugin/public/javascript/zebra_datepicker.js"></script>

		<script>
			calendar(document).ready(function() {

				// assuming the controls you want to attach the plugin to
				// have the "datepicker" class set
				calendar('input.datepicker').Zebra_DatePicker();

			});

		</script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="/resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<!-- Tooltip eklentisi-->

		<link rel="stylesheet" type="text/css"
		href="/resources/plugins/tooltipplugin/tooltip.css" />

		<!-- end of plugins  -->

		<style>
			body {

				background-color: #F0F7F7;
			}
			#cssmenu {

				width: 100%;
			}

			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
					padding-right: 50px;
					padding-top: 30px;
				}
			}

			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}

			.btn-file {
				position: relative;
				overflow: hidden;
			}
			.btn-file input[type=file], .resimkaldir {
				position: absolute;
				top: 0;
				right: 0;
				min-width: 100%;
				min-height: 100%;
				font-size: 100px;
				text-align: right;
				filter: alpha(opacity=0);
				opacity: 0;
				outline: none;
				background: white;
				cursor: inherit;
				display: block;
			}

		</style>

	</head>

	<body>

		<div class="container-fluid">

			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

			<!-- Include all compiled plugins (below), or include individual files
			as needed -->
			<script src="/resources/js/bootstrap.min.js"></script>

			<div class="visible-xs visible-sm row" style="margin-bottom: 10px;">

				<div id="loginkismi "  class="visible-xs ">
					<!-- Login Starts Here -->
					<%= render "loginContainer" %>
					<!-- Login Ends Here -->

				</div>

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<!-- You need this element to prevent the content of the page from jumping up -->
			<div class="header-fixed-placeholder"></div>

			<div class="row" style="">

				<%= render "smartmenus" %>

			</div>

			<div class="visible-lg row" style="padding-bottom: 20px;">

				<div class="row ustpaneller" style="padding:20px;">

					<aside class="col-lg-3 col-md-3 col-sm-3 hidden-xs ">

						<div class="row">

							<%= render "kullanicipaneli"   %>

						</div>

						<div class="row">

							<div class="panel panel-info">

								<div class="panel-heading">
									<h3 style="text-align: center;" class="panel-title">Popüler
									İlanlar</h3>
								</div>

								<div class="panel-body">

									<div class="row">

										<% @mostpopular.each do |advert| %>

										<div class="col-lg-6 col-xs-6 col-md-6 col-sm-6">

											<div class="thumbnail">
												<a  href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>

											</div>

											<div class="caption">

												<h5><% if advert.name.length > 14 %>
												<%= advert.name[0..11] %>..
												<% else %>
												<%= advert.name %>
												<% end %> </h5>

											</div>

										</div>
										<% end %>

									</div>

								</div>

							</div>

						</div>

					</aside>

					<div class="col-lg-9 col-md-9 col-sm-9">

						<div class="row">

							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

								<div class="panelortak profilim panel panel-info">
									<div class="panel-heading">
										<h3 class="panel-title"><%= current_user.name+" "+ current_user.surname %> </h3>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-3 col-lg-3 " align="center">

												<% if !current_user.image && current_user.gender == "male" %>
												<img src="/resources/images/erkek.png"
												class='img-circle img-responsive'
												/>
												<% elsif !current_user.image && current_user.gender == "female" %>
												<img src="/resources/images/kadin.png"
												class='img-circle img-responsive'
												/>

												<% elsif !current_user.image && current_user.gender == "other" %>
												<img src="/resources/images/diger.png"
												class='img-circle img-responsive'
												/>

												<% else %>
												<%= image_tag current_user.image.imagefile(:small),
												:alt => 'User Pic',
												:class => 'img-circle img-responsive' %>
												<% end%>
												<br>
												<div class="row">
													<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
													<span style="width:95%;margin-left:10px;"   class="btn-file profilresmi btn btn-info btn-xs"> Profil Resmini Değiştir
														<input type="file" name="profilephoto"  onchange="submit();">
													</span>

													<% end %>
												</div>

												<% if current_user.image %>

												<div style="margin-top:10px;"  class="row">
													<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
													<span style="width:95%;margin-left:10px;" style="margin-left:10px;"  class="btn-file profilresmi btn btn-info btn-xs"> Profil Resmini Kaldır
														<input  class="resimkaldir" name="deletephoto"  onclick="submit();">
													</span>

													<% end %>
												</div>

												<% end %>

											</div>

											<div class=" col-md-9 col-lg-9 ">
												<table class="table table-user-information">
													<tbody>

														<% if current_user.university!=nil %>

														<tr>
															<td>Üniversite:</td>
															<td><%= current_user.university.name %></td>
														</tr>

														<% end %>

														<tr>
															<td>Ne zaman katıldı?:</td>
															<td><% created_at = current_user.created_at %>
															<%= created_at.day %> <%= months[created_at.month] %> <%= created_at.year %> </td>
														</tr>

														<% if current_user.birthday!=nil %>

														<tr>
															<td>Doğum Tarihi:</td>
															<td><% birthday = current_user.birthday %>
															<%= birthday.day %> <%= months[birthday.month] %> <%= birthday.year %> </td>
														</tr>

														<% end %>

														<tr>
														<tr>
															<td>Cinsiyet</td>
															<td><%= gender[current_user.gender] %></td>
														</tr>

														<% if current_user.address!='' %>

														<tr>
															<td>Açık adres</td>
															<td><%= current_user.address %></td>
														</tr>

														<% end %>

														<tr>
															<td>E-posta</td>
															<td><%= current_user.email %></td>
														</tr>
														<td>Telefon Numarası</td>
														<td><%= current_user.phone %></td>

														</tr>

													</tbody>
												</table>

												<a href="/ilanver" class="col-lg-5 btn btn-primary">İlan Ver</a>
												<a href="/ilanlarim" style="margin-left: 20px;"
												class="col-lg-5 btn btn-primary">İlanlarım</a>
											</div>
										</div>
									</div>
									<div class="panel-footer">
										<a href="/mesajlarim" data-original-title="Mesajlarım"
										data-toggle="tooltip" type="button"
										class="btn btn-sm btn-primary"><i
										class="glyphicon glyphicon-envelope"></i></a>

										<span
										class="pull-right"> <%= form_for :user, :url => 'hesabisil' , :method => :post , :html => {
											:onsubmit => 'return vsubmit();',:id => 'uyeformu'
											} do |t| %> <a href="/uye/<%= current_user.username %>?hesapayarlari=1"
											data-original-title="Profili Düzenle" data-toggle="tooltip"
											type="button" class="btn btn-sm btn-warning"><i
											class="glyphicon glyphicon-edit"></i></a> <span data-toggle="modal" data-target = "#hesabisil"> <a
												data-original-title="Hesabımı Sil"
												data-toggle="tooltip"     type="button"
												class="btn btn-sm btn-danger"><i
												class="glyphicon glyphicon-remove"></i></a> </span> <% end %> </span>

									</div>

								</div>

								<!-- Tekliflerim Kısmı(Yeni hali)-->

								<div class="tekliflerim alert alert-danger" style="display:none;">
									<p>
										Bu hizmet yakında aktif edilecektir!!
									</p>

								</div>

								<!--  Favorilerim kısmı -->

								<div style="display:none; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; " class="panelortak favoriler panel panel-info">

									<div class="panel-heading">
										<h3 class="panel-title">Favorilerim</h3>
									</div>

									<div class="panel-body">

										<div class="row">

											<% if @favouriteadverts!= [] %>

											<% @favouriteadverts.each do |advert| %>

											<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">

												<div class="thumbnail">
													<a  href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>
												</div>

												<div class="caption">

													<h5><% if advert.name.length > 14 %>
													<%= advert.name[0..13] %>...
													<% else %>
													<%= advert.name %>
													<% end %> </h5>

												</div>

											</div>
											<% end %>

											<% else %>

											<div style="padding:20px;">

												Şuanda favori ilanınız bulunmamaktadır!!

											</div>

											<% end %>

										</div>

										<% if @favouriteadverts!= [] %>
										<br>
										<div style="text-align:center;">

											<button style="text-align:center;" onclick="window.location='/favorilerim'" type = "button" class = "btn btn-success">
												Devamı İçin Tıklayınız.
											</button>
										</div>

										<% end %>
									</div>

								</div>

								<!--  İncelediğim İlanlar kısmı -->

								<div style="display:none; margin-bottom: 10px; margin-left: 10px; margin-right: 10px; " class="panelortak inceledigimilanlar panel panel-info">

									<div class="panel-heading">
										<h3 class="panel-title">İncelediğim İlanlar</h3>
									</div>

									<div class="panel-body">

										<div class="row">
											
											

											<% @viewedadverts.each do |advert| %>

											<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">

												<div class="thumbnail">
													<a  href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>
												</div>

												<div class="caption">

													<h5><% if advert.name.length > 12 %>
													<%= advert.name[0..9] %>..
													<% else %>
													<%= advert.name %>
													<% end %> </h5>

												</div>

											</div>
											<% end %>

										</div>

										<% if @viewedadverts != [] %>
										<br>
										<div style="text-align:center;">

											<button style="text-align:center;" onclick="window.location='/incelediklerim'" type = "button" class = "btn btn-success">
												Devamı İçin Tıklayınız.
											</button>
										</div>

										<% end %>

									</div>

								</div>

								<div class="degiskenpanel well">

									<div class="row">

										<div class=" uyepaneli col-xs-12 col-sm-12 col-md-12 col-lg-12  toppad">

											<!--  Hesap Ayarları -->

											<div style="" class="panelortak hesapayarlari panel-body">

												<%= form_for current_user, :url => '/updateUser', :method => :post, :html => {
												:class => 'form-horizontal',
												:id => 'signupform',
												:role => 'form'
												} do |t| %>
												<div id="signupalert" style="display: none"
												class="alert alert-danger">
													<p>
														Error:
													</p>
													<span></span>
												</div>

												<div class="form-group">
													<label for="firstname" class="col-md-3 control-label">Ad</label>
													<div class="col-md-9">
														<%= t.text_field :name, :class => 'form-control' %>
													</div>
												</div>
												<div class="form-group">
													<label for="lastname" class="col-md-3 control-label">Soyad</label>
													<div class="col-md-9">
														<%= t.text_field :surname, :class => 'form-control' %>
													</div>
												</div>
												<div class="form-group">
													<label for="password" class="col-md-3 control-label">Adres</label>
													<div class="col-md-9">
														<%= t.text_area :address, :class => 'form-control' %>
													</div>
												</div>

												<div class="form-group">
													<label for="icode" class="col-md-3 control-label">Cep
														Telefonu</label>
													<div class="col-md-2">

														<%= t.text_field :phone1, :class => 'form-control', :maxlength => 3 %>
													</div>

													<div class="col-md-7">
														<%= t.text_field :phone2, :class => 'form-control', :maxlength => 7 %>
													</div>
												</div>

												<div class="form-group">
													<label for="icode" class="col-md-3 control-label">Doğum Tarihi</label>

													<div class="col-md-9">

														<div class = "input-group">

															<%= t.text_field :birthday, :class =>'datepicker form-control', :placeholder => "Buraya tıklayınız" %>

														</div>

													</div>
												</div>

												<div class="form-group">
													<label for="icode" class="col-md-3 control-label">Cinsiyet</label>

													<div class="col-md-9">
														<%= t.select :gender, [['Erkek', 'male'], ['Kadın', 'female'], ['Diğer','other']],{}, { :class => 'form-control' }  %>

													</div>
												</div>

												<div style="padding-top: 20px" class="row form-group">

													<div class="col-md-offset-4 col-md-5">
														<button id="btn-fbsignup" type="button" class="btn btn-primary">
															<i class="icon-facebook"></i>   Facebook hesabını bağla
														</button>
													</div>

													<div class="col-md-3">
														<%= t.submit 'Kaydet', :class => 'btn btn-danger' %>
													</div>

												</div>
												<% end %>

											</div>

										</div>

									</div>

								</div>

							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

								<div style="margin-bottom: 20px;">

									<div class="row panel panel-info">

										<div class="panel-heading">
											<h3 class="panel-title">Önceki İlanlarım</h3>
										</div>

										<div class="panel-body">

											<div class="row">

												<% if @lastadverts!= [] %>

												<% @lastadverts.each do |advert| %>

												<div class="col-lg-4 col-xs-4 col-md-4 col-sm-4">

													<div class="thumbnail">
														<a  href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>

													</div>

													<div class="caption">

														<h5><% if advert.name.length > 7 %>
														<%= advert.name[0..6] %>..
														<% else %>
														<%= advert.name %>
														<% end %> </h5>

													</div>

												</div>

												<% end %>

												<% else %>

												<div style="padding:20px;">

													Şuanda ilanınız bulunmamaktadır!!

												</div>

												<% end %>

											</div>

											<% if @lastadverts!= [] %>
											<br>
											<div style="text-align:center;">

												<button style="text-align:center;" onclick="window.location='/ilanlarim'" type = "button" class = "btn btn-success">
													Devamı İçin Tıklayınız.
												</button>
											</div>

											<% end %>
										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="row">

							<div style="margin: 10px; padding-left: 10px; padding-right: 10px;">

								<div class="panel panel-info">

									<div class="panel-heading">
										<h3 style="text-align: center;" class="panel-title">Günün
										Fırsatları</h3>
									</div>

									<div class="panel-body">

										<div class="row">

											<% if @gununilanlari!= [] %>

											<% @gununilanlari.each do |advert| %>

											<div class="col-lg-2 col-xs-6 col-md-4 col-sm-4">

												<div class="thumbnail">
													<a <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>

												</div>

												<div class="caption">

													<h5><% if advert.name.length > 14 %>
													<%= advert.name[0..11] %>..
													<% else %>
													<%= advert.name %>
													<% end %> </h5>

												</div>

											</div>

											<% end %>

											<% else %>

											<p style="margin-left:20px;" >
												Henüz günün fırsatı bulunmamaktadır!!
											</p>

											<% end %>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			<%= render "kullanicipaneli2"%>

			<div style="" class="visible-xs visible-sm visible-md row">

				<div class=" uyepaneli col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">

					<div class="panelortak profilim panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title"><%= current_user.name+" "+ current_user.surname %> </h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="visible-md col-md-3 col-lg-3 col-xs-10 " align="center">
									<% if !current_user.image && current_user.gender == "male" %>
									<img src="/resources/images/erkek.png"
									class='img-circle img-responsive'
									/>
									<% elsif !current_user.image && current_user.gender == "female" %>
									<img src="/resources/images/kadin.png"
									class='img-circle img-responsive'
									/>

									<% elsif !current_user.image && current_user.gender == "other" %>
									<img src="/resources/images/diger.png"
									class='img-circle img-responsive'
									/>

									<% else %>
									<%= image_tag current_user.image.imagefile(:small),
									:alt => 'User Pic',
									:class => 'img-circle img-responsive' %>
									<% end%>
								</div>
								
								
								<div style="margin-bottom:40px;" class="visible-sm col-md-3 col-lg-3 col-xs-10 col-sm-offset-1" align="center">
									<% if !current_user.image && current_user.gender == "male" %>
									<img src="/resources/images/erkek.png"
									class='img-circle img-responsive'
									/>
									<% elsif !current_user.image && current_user.gender == "female" %>
									<img src="/resources/images/kadin.png"
									class='img-circle img-responsive'
									/>

									<% elsif !current_user.image && current_user.gender == "other" %>
									<img src="/resources/images/diger.png"
									class='img-circle img-responsive'
									/>

									<% else %>
									<%= image_tag current_user.image.imagefile(:small),
									:alt => 'User Pic',
									:class => 'img-circle img-responsive' %>
									<% end%>
								</div>
								
								
								

								<div style="margin-bottom:40px;" class="visible-xs col-md-3 col-lg-3 col-xs-10 col-xs-offset-1" align="center">
									<% if !current_user.image && current_user.gender == "male" %>
									<img src="/resources/images/erkek.png"
									class='img-circle img-responsive'
									/>
									<% elsif !current_user.image && current_user.gender == "female" %>
									<img src="/resources/images/kadin.png"
									class='img-circle img-responsive'
									/>

									<% elsif !current_user.image && current_user.gender == "other" %>
									<img src="/resources/images/diger.png"
									class='img-circle img-responsive'
									/>

									<% else %>
									<%= image_tag current_user.image.imagefile(:small),
									:alt => 'User Pic',
									:class => 'img-circle img-responsive' %>
									<% end%>
								</div>

								<div class=" col-md-9 col-lg-9 ">
									<table style="table-layout:fixed" class="table table-user-information">
										<tbody>

											<% if current_user.university!=nil %>

											<tr>
												<td>Üniversite:</td>
												<td><%= current_user.university.name %></td>
											</tr>

											<% end %>

											<tr>
												<td>Ne zaman katıldı?:</td>
												<td><% created_at = current_user.created_at %>
												<%= created_at.day %> <%= months[created_at.month] %> <%= created_at.year %> </td>
											</tr>

											<% if current_user.birthday!=nil %>

											<tr>
												<td>Doğum Tarihi:</td>
												<td><% birthday = current_user.birthday %>
												<%= birthday.day %> <%= months[birthday.month] %> <%= birthday.year %> </td>
											</tr>

											<% end %>

											<tr>
											<tr>
												<td>Cinsiyet</td>
												<td><%= gender[current_user.gender] %></td>
											</tr>

											<% if current_user.address!='' %>

											<tr>
												<td>Açık adres</td>
												<td><%= current_user.address %></td>
											</tr>

											<% end %>

											<tr>
												<td>E-posta</td>
												<td style=" white-space: -webkit-pre-wrap;word-break: break-all;"><%= current_user.email %></td>
											</tr>
											<td>Telefon Numarası</td>
											<td><%= current_user.phone %></td>

											</tr>

										</tbody>
									</table>

									<div class="hidden-md">

										

										<div class="row">

											<a  style="margin-left: 20px;" class="hidden-xs hidden-sm col-lg-5 btn-file profilresmi btn btn-primary "> Profil Resmini Değiştir
											<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
											<input type="file" name="profilephoto"  onchange="submit();">
											<% end %> </a>

											<a  style="margin-left: 20px;" class="hidden-xs hidden-sm col-lg-5 btn-file profilresmi btn btn-primary "> Profil Resmini Kaldır
											<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
											<input  class="resimkaldir" name="deletephoto"  onclick="submit();">
											<% end %> </a>

										</div>

									</div>

									<div class="hidden-lg">

										<div style="text-align:center;margin-top:20px;" class="row">

											<a  href="/ilanver" style="width:90%;" class=" col-lg-5 btn-file  btn btn-primary "> İlan Ver </a>

										</div>

										<div style="text-align:center;margin-top:20px;" class="row">

											<a  href="/ilanlarim" style="width:90%;" class=" col-lg-5 btn-file  btn btn-primary "> Önceki İlanlarım </a>

										</div>

									</div>

									<div style="text-align:center;margin-top:20px;" class="row">

										<a  style="width:90%;" class=" col-lg-5 btn-file profilresmi btn btn-primary "> Profil Resmini Değiştir
										<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
										<input type="file" name="profilephoto"  onchange="submit();">
										<% end %> </a>

									</div>

									<% if current_user.image %>

									<div style="text-align:center;margin-top:20px;" class="row">

										<a  style="width:90%;"  class=" col-lg-5 btn-file profilresmi btn btn-primary "> Profil Resmini Kaldır
										<%= form_tag '/profilephoto', :role => 'form',:multipart => true  do  %>
										<input  class="resimkaldir" name="deletephoto"  onclick="submit();">
										<% end %> </a>

									</div>

									<% end %>

								</div>
							</div>
						</div>
						<div class="panel-footer">
							<a href="/mesajlarim" data-original-title="Mesajlarım"
							 type="button"
							class="btn btn-sm btn-primary"><i
							class="glyphicon glyphicon-envelope"></i></a>

							<span
							class="pull-right"> <%= form_for :user, :url => 'hesabisil' , :method => :post , :html => {
								:onsubmit => 'return vsubmit();',:id => 'uyeformu'
								} do |t| %> <a href="/uye/<%= current_user.username %>?hesapayarlari=1"
								data-original-title="Profili Düzenle" 
								type="button" class="btn btn-sm btn-warning"><i
								class="glyphicon glyphicon-edit"></i></a> <span data-toggle="modal" data-target = "#hesabisil"> <a
									data-original-title="Hesabımı Sil"
									    type="button"
									class="btn btn-sm btn-danger"><i
									class="glyphicon glyphicon-remove"></i></a> </span> <% end %> </span>

						</div>

					</div>

					<!--  İncelediğim İlanlar kısmı -->

					<div style="display:none; margin-bottom: 10px;  " class="panelortak inceledigimilanlar panel panel-info">

						<div class="panel-heading">
							<h3 class="panel-title">İncelediğim İlanlar</h3>
						</div>

						<div class="panel-body">

							<div class="row">

								<% @viewedadverts.each do |advert| %>

								<div class=" col-xs-6 col-md-4 col-sm-6">

									<div class="thumbnail">
										<a title="<%= advert.name %>" href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small) %> </a>
									</div>

									<div class="caption">

										<h5><% if advert.name.length >= 10 %>
										<%= advert.name[0..9] %>..
										<% else %>
										<%= advert.name %>
										<% end %> </h5>

									</div>

								</div>
								<% end %>

							</div>

							<% if @viewedadverts != [] %>
							<br>
							<div style="text-align:center;">

								<button style="text-align:center;" onclick="window.location='/incelediklerim'" type = "button" class = "btn btn-success">
									Devamı İçin Tıklayınız.
								</button>
							</div>

							<% end %>

						</div>

					</div>

					<!--  Favorilerim kısmı -->

					<div style="display:none;  " class="panelortak favoriler panel panel-info" >

						<div class="panel-heading">
							<h3 class="panel-title">Favorilerim</h3>
						</div>

						<div class="panel-body">

							<div class="row">

								<% if @favouriteadverts!= [] %>

								<% @favouriteadverts.each do |advert| %>

								<div class="col-xs-6 col-md-4 col-sm-6">

									<div class="thumbnail">
										<a title="<%= advert.name %>" href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),title:advert.name,class: "masterTooltip" %> </a>
									</div>

									<div class="caption">

										<h5><% if advert.name.length >= 10 %>
										<%= advert.name[0..9] %>...
										<% else %>
										<%= advert.name %>
										<% end %> </h5>

									</div>

								</div>
								<% end %>

								<% else %>

								<div style="padding:20px;">

									Şuanda favori ilanınız bulunmamaktadır!!

								</div>

								<% end %>

							</div>

							<% if @favouriteadverts!= [] %>
							<br>
							<div style="text-align:center;">

								<button style="text-align:center;" onclick="window.location='/favorilerim'" type = "button" class = "btn btn-success">
									Devamı İçin Tıklayınız.
								</button>
							</div>

							<% end %>
						</div>

					</div>

					<!-- Tekliflerim kısmı -->
					<div class="tekliflerim alert alert-danger" style="display:none;">
						<p>
							Bu hizmet yakında aktif edilecektir!!
						</p>

					</div>

					<!--  Hesap Ayarları -->

					<div style="" class="panelortak hesapayarlari panel-body">

						<%= form_for current_user, :url => '/updateUser', :method => :post, :html => {
						:class => 'form-horizontal',
						:id => 'signupform',
						:role => 'form'
						} do |t| %>
						<div id="signupalert" style="display: none"
						class="alert alert-danger">
							<p>
								Error:
							</p>
							<span></span>
						</div>

						<div class="form-group">
							<label for="firstname" class="col-md-3 control-label">Ad</label>
							<div class="col-md-9">
								<%= t.text_field :name, :class => 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<label for="lastname" class="col-md-3 control-label">Soyad</label>
							<div class="col-md-9">
								<%= t.text_field :surname, :class => 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-md-3 control-label">Adres</label>
							<div class="col-md-9">
								<%= t.text_area :address, :class => 'form-control' %>
							</div>
						</div>

						<div class="form-group">
							<label for="icode" class="col-md-3 control-label">Cep
								Telefonu</label>
							<br>
							<div class="col-xs-4">

								<%= t.text_field :phone1, :class => 'form-control', :maxlength => 3 %>
							</div>

							<div class="col-xs-8">
								<%= t.text_field :phone2, :class => 'form-control', :maxlength => 7 %>
							</div>
						</div>

						<div class="form-group">
							<label for="icode" class="col-md-3 control-label">Doğum Tarihi</label>

							<div class="col-md-9">

								<div class = "input-group">

									<%= t.text_field :birthday, :class =>'datepicker form-control', :placeholder => "Buraya tıklayınız" %>

								</div>

							</div>
						</div>

						<div class="form-group">
							<label for="icode" class="col-md-3 control-label">Cinsiyet</label>

							<div class="col-md-9">
								<%= t.select :gender, [['Erkek', 'male'], ['Kadın', 'female'], ['Diğer','other']],{}, { :class => 'form-control' }  %>

							</div>
						</div>

						<div style="padding-top: 20px" class="row form-group">

							<div class="col-md-offset-4 col-md-5">
								<button id="btn-fbsignup" type="button" class="btn btn-primary">
									<i class="icon-facebook"></i>   Facebook hesabını bağla
								</button>
							</div>
							<br>

							<div class="col-md-3">
								<%= t.submit 'Kaydet', :class => 'btn btn-danger' %>
							</div>

						</div>
						<% end %>

					</div>

				</div>

			</div>

			<div class="row">

				<%= render "footer" %>

			</div>

		</div>

		<!-- Modal -->
		<div class = "modal fade" id = "hesabisil" tabindex = "-1" role = "dialog"
		aria-labelledby = "myModalLabel" aria-hidden = "true">

			<div class = "modal-dialog">
				<div class = "modal-content">

					<div class = "modal-header">
						<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
							×
						</button>

						<h4 class = "modal-title" id = "myModalLabel"> Hesabımı Sil </h4>
					</div>

					<div class = "modal-body">
						Hesabınızı gerçekten silmek istediğinize emin misiniz?
					</div>

					<div class = "modal-footer">
						<button type = "button" class = "btn btn-default" data-dismiss = "modal">
							İptal
						</button>

						<button type = "button" onclick="hesapsilonay();"  class = "btn btn-primary">
							Onayla!!
						</button>
					</div>

				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->

		</div><!-- /.modal -->

		<!-- hesabı sil-->

		<script>
			function hesapsilonay() {

				document.getElementById("uyeformu").submit();

			}

		</script>

		<!-- plugins -->

		<!-- Tooltip eklentisi-->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

		<script>
			var $tooltip = jQuery.noConflict();
		</script>

		<script type="text/javascript" src="/resources/plugins/tooltipplugin/tooltip.js"></script>

		<!--  user panelinin js kodları -->

		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

		<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

		<script>
			var $uyepaneljs = jQuery.noConflict();
		</script>

		<script type="text/javascript">
			$uyepaneljs(function() {
				var panels = $uyepaneljs('.user-infos');
				var panelsButton = $uyepaneljs('.dropdown-user');
				panels.hide();

				//Click dropdown
				panelsButton.click(function() {
					//get data-for attribute
					var dataFor = $uyepaneljs(this).attr('data-for');
					var idFor = $uyepaneljs(dataFor);

					//current button
					var currentButton = $(this);
					idFor.slideToggle(400, function() {
						//Completed slidetoggle
						if (idFor.is(':visible')) {
							currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
						} else {
							currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
						}
					})
				});

				$uyepaneljs('[data-toggle="tooltip"]').tooltip();

				$uyepaneljs('button').click(function(e) {
					e.preventDefault();

				});
			});
		</script>

		<script>
			$(".birincimenu > ul").slideDown(0);
			$(".birincimenu").addClass("active");

		</script>

	</body>

</html>
