<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<%= csrf_meta_tags %>
		<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
		<meta charset="utf-8">

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="resources/css/bootstrap.min.css" rel="stylesheet">

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<!-- dropdown login box -->

		<link rel="stylesheet"
		href="resources/plugins/dropdownloginbox/css/style.css" />

		<script src="resources/plugins/dropdownloginbox/js/login.js"></script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<link href="resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- end of plugins  -->

		<style>
			.kullanicialert .alert {
				color: black;
			}
			
			body {
			background-color:#F0F7F7;
			
		}

			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
				padding-right: 50px;
				padding-top:30px;
				}
			}

			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}
		</style>
	
	<script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files
		as needed -->
		<script src="resources/js/bootstrap.min.js"></script>

		<div class="container-fluid">

			<div class="row" style="position: relative;margin-bottom: 10px;">

				

				<div id="loginkismi "  class="visible-xs ">
					<!-- Login Starts Here -->
					<%= render "loginContainer" %>
					<!-- Login Ends Here -->

				</div>

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<!-- You need this element to prevent the content of the page from jumping up -->
			<div class="header-fixed-placeholder"></div>

			<div class="row">

				<%= render "smartmenus" %>

			</div>

			<div class="row">

				<div class="well">

					<div class="row">

						<%= form_for :user, :url => 'register' , :method => :post , :html => {
						:onsubmit => 'return vsubmit();',
						:id => 'kayitformu'
						} do |t| %>

						<div class="kayitpaneli container-page">
							<div class="col-md-6 col-lg-6 ">
								<h3 class="dark-grey">Kayıt Ol</h3>

								<div class="row">

									<div class="form-group col-lg-6 col-md-6 ">
										<label>Ad</label>
										<%= t.text_field :name, :class => 'form-control', :onkeyup => 'namevalidator()', :maxlength => 20 %>
									</div>

									<div class="col-lg-6 col-md-6">

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  namekarakterhatasi label label-danger">
											Lütfen
											sadece harf giriniz.
										</div>
										<div style="display: none;"
										class="ol-sm-12 col-xs-12 hidden-lg hidden-md form-group  nameboskalamaz label label-danger">
											İsim
											kısmı boş kalamaz.
										</div>

									</div>

									<div class="form-group col-lg-6 col-md-6">
										<label>Soyad</label>
										<%= t.text_field :surname, :class => 'form-control', :onkeyup => 'surnamevalidator()', :maxlength => 20 %>
									</div>

								</div>

								<div class="row adsoyadhata">

									<div class="col-lg-6 col-md-6 namekarakter">

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  namekarakterhatasi label label-danger">
											Lütfen
											sadece harf giriniz.
										</div>
										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  nameboskalamaz label label-danger">
											İsim
											kısmı boş kalamaz.
										</div>
										

									</div>

									<div class="col-lg-6 col-md-6 surnamekarakter">

										<div style="display: none;"
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group  surnamekarakterhatasi label label-danger">
											Lütfen
											sadece harf giriniz.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group  surnameboskalamaz label label-danger">
											Soyad
											kısmı boş kalamaz.
										</div>

									</div>

								</div>

								<div class="row">

									<div id="" class="form-group col-lg-12 col-md-12">
										<label>Kullanıcı Adı</label>&nbsp;&nbsp;

										<%= t.text_field :username, :class => 'form-control', :onkeyup => 'usernamevalidation()', :maxlength => 15 %>

									</div>

								</div>

								<div class="row">
									<div class="col-lg-6 col-md-6">

										<div style="display: none;"
										class="col-xs-12 col-sm-12 hidden-lg hidden-md form-group  usernameerror label label-danger ">
											Kullanıcı
											adı kullanılıyor! Başka bir kullanıcı adı deneyin.
										</div>

										<div style="display: none;"
										class="col-xs-12 col-sm-12 hidden-lg hidden-md form-group  usernamevalid label label-success">
											Bu
											kullanıcı adını alabilirsiniz.
										</div>

										<div style="display: none;"
										class="col-xs-12 col-sm-12 hidden-lg hidden-md form-group uctenkucukhata label label-danger">
											Kullanıcı
											adı 3 karakterden küçük olamaz.
										</div>

										<div style="display: none;"
										class="col-xs-12 col-sm-12 hidden-lg hidden-md form-group  karakterhatasi label label-danger">
											
											Sadece türkçe olmayan harfleri(a-z),rakamları ve &nbsp;  .&nbsp;  -&nbsp;  _&nbsp; karakterlerini girebilirsiniz.
										</div>

										<div style="display: none;"
										class="col-xs-12 col-sm-12 hidden-lg hidden-md form-group  usernameboskalamaz label label-danger">
											Kullanıcı
											adı boş kalamaz!!
										</div>

									</div>

								</div>

								<div class="usernamecheck">

									<div class="row col-lg-12 col-md-12 kullanicialert">

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  usernameerror label label-danger ">
											Kullanıcı
											adı kullanılıyor! Başka bir kullanıcı adı deneyin.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  usernamevalid label label-success">
											Bu
											kullanıcı adını alabilirsiniz.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group uctenkucukhata label label-danger">
											Kullanıcı
											adı 3 karakterden küçük olamaz.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  karakterhatasi label label-danger">
											Sadece türkçe olmayan harfleri(a-z),rakamları ve &nbsp;  .&nbsp;  -&nbsp;  _&nbsp; karakterlerini girebilirsiniz.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  usernameboskalamaz label label-danger">
											Kullanıcı
											adı boş kalamaz!!
										</div>

									</div>

								</div>

								<div class="row">

									<div class="form-group col-lg-6 col-md-6">
										<label>Şifre</label>

										<%= t.password_field :password, :class => 'form-control', :onkeyup => 'passwordcheck()', :maxlength => 20 %>

									</div>

									<div class="col-lg-6 col-md-6">
										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group altidankucukhata label label-danger">
											Şifre
											6 karakterden az olamaz.
										</div>

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  passkarakterhatasi label label-danger">
											Şifrenizde büyük harf,küçük harf ve
											<br>
											sayı kullanmak
											zorundasınız.
										</div>
										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  passboskalamaz label label-danger">
											Şifre
											kısmı boş kalamaz.
										</div>

									</div>

									<div class="form-group col-lg-6 col-md-6">
										<label>Şifreyi tekrar et</label>
										<%= t.password_field :password_confirmation, :class => 'form-control', :onkeyup => 'passwordrepeatcheck()', :maxlength => 20 %>

									</div>

									<div class="col-lg-6 col-md-6 passkarakterrepeat">

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  passkarakterhatasirepeat label label-danger">
											Şifreniz eşleşmiyor

										</div>

									</div>

								</div>

								<div class="row passcheck">

									<div class="col-lg-6 col-md-6 passkarakter">

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  passkarakterhatasi label label-danger">
											Şifrenizde büyük harf,küçük harf ve
											<br>
											sayı kullanmak
											zorundasınız.
										</div>
										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  passboskalamaz label label-danger">
											Şifre
											kısmı boş kalamaz.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group altidankucukhata label label-danger">
											Şifre
											6 karakterden az olamaz.
										</div>

									</div>

									<div class="col-lg-6 col-md-6 passkarakterrepeat">

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-xs hidden-sm form-group  passkarakterhatasirepeat label label-danger">
											Şifreniz eşleşmiyor

										</div>

									</div>

								</div>

								<div class="row">

									<div class="form-group col-lg-6 col-md-6">
										<label>Eposta Adresi</label>

										<%= t.text_field :email, :class => 'form-control', :onkeyup => 'emailcheck()', :maxlength => 40 %>

									</div>

									<div class="col-lg-6 col-md-6">

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  emailkarakterhatasi label label-danger">
											Geçersiz E-mail
										</div>

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  emailboskalamaz label label-danger">
											E-mail
											kısmı boş kalamaz.
										</div>
										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  emailerror label label-danger ">
											E-mail
											kullanılıyor! Başka bir E-mail deneyin.
										</div>

										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  emailvalid label label-success">
											Bu
											E-mail adresini kullanabilirsiniz.
										</div>
										
										<div style="display: none;"
										class="col-sm-12 col-xs-12 hidden-lg hidden-md form-group  uniemailerror label label-danger ">
											Lütfen üniversite E-mail adresinizi giriniz.
										</div>

									</div>

									<div class="form-group col-lg-6 col-md-6">
										<label>Eposta Adresini tekrarla</label>

										<%= t.text_field :email_confirmation, :class => 'form-control', :onkeyup => 'emailrepeatcheck()', :maxlength => 40 %>

									</div>

								</div>

								<div class="row emailcheck">

									<div class="col-lg-6 col-md-6 emailkarakter">

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  emailkarakterhatasi label label-danger">
											Geçersiz E-mail
										</div>
										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  emailboskalamaz label label-danger">
											E-mail
											kısmı boş kalamaz.
										</div>
										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  emailerror label label-danger ">
											E-mail
											kullanılıyor! Başka bir E-mail deneyin.
										</div>

										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  emailvalid label label-success">
											Bu
											E-mail adresini kullanabilirsiniz.
										</div>
										
										<div style="display: none;"
										class="col-lg-12 col-md-12 hidden-sm hidden-xs form-group  uniemailerror label label-danger ">
											Lütfen üniversite E-mail adresinizi giriniz.
										</div>
										
										

									</div>

									<div class="col-lg-6 col-md-6 emailkarakterrepeat">

										<div style="display: none;"
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group  emailkarakterhatasirepeat label label-danger">
											E-mail
											eşleşmiyor
										</div>

									</div>

								</div>

								<div class="row">

									
									<br class="phonekarakterhatasi visible-xs visible-sm">

									<div class="form-group col-lg-6 col-md-6">
										<label>Cinsiyet</label>
										
										
										
										<%= t.select :gender, [['Erkek', 'male'], ['Kadın', 'female'], ['Diğer','other']],{}, { :class => 'form-control' }  %>
										

									</div>

									
								</div>

								<div class="col-sm-6">
									
									
									<%=  t.check_box :bulletin  %>
									
									
									<br>
									
									Bültenimize kayıt olmak ister misiniz?
								</div>
							</div>

							<div class="visible-sm visible-xs">

								<br>
								<br>
								<br>
								<br>

							</div>

							<div style="padding:30px;" class=" col-lg-6 col-md-6 ">

								<div style="overflow: auto; height: 400px;" class="termsconditions row">

									<h3 class="dark-grey">CAMPUS İLAN ÜYELİK SÖZLEŞMESİ</h3>

									1. Sözleşmenin Konusu
									<br>

									İşbu Sözleşme’nin konusu Campüs İlan’ın sahip olduğu internet sitesi <a href="http://www.campusilan.com/">www.campusilan.com</a> ‘dan üyenin faydalanma şartlarının belirlenmesidir.
									<br>
									<br>

									2. Tarafların Hak ve Yükümlülükleri
									<br>

									2.1. Üye, <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, Campüs İlan’ın bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
									<br>

									2.2. Üye, Campüs İlan tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin sözkonusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından Campüs İlan’a karşı ileri sürülebilecek tüm iddia ve taleplere karşı, Campüs İlan’ın sözkonusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.
									<br>

									2.3. Üye <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.
									<br>

									2.4. Üye, <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.
									<br>

									2.5. <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin Campüs İlan’la hiçbir ilgi ve bağlantısı yoktur. Campüs İlan’ın üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.
									<br>

									2.6. Campüs İlan, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, www.campusilan.com internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden Campüs İlan'dan tazminat talep etmemeyi peşinen kabul etmiştir.
									<br>

									2.7. Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.
									<br>

									2.8. İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, Campüs İlan’ı bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, Campüs İlan’ın üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.
									<br>
									2.9. Campüs İlan’ın her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, Campüs İlan’ın hiçbir sorumluluğu yoktur.
									<br>

									2.10. <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesi yazılım ve tasarımı Campüs İlan mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.
									<br>

									2.11. Campüs İlan tarafından <a href="http://www.campusilan.com/">www.campusilan.com</a> internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
									<br>

									2.12. Campüs İlan, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya Campüs İlan'a tebliğ edilen yasal işlemlere uymak; (b) Campüs İlan web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.
									<br>

									2.13. Campüs İlan web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye Campüs İlan web sitesi’ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan yada dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.
									<br>

									2.14. Campüs İlan, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya Campüs İlan web sitesi’nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.
									<br>

									2.15. Campüs İlan, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen yada yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.
									<br>

									2.16. Taraflar, Campüs İlan’a ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287′ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.
									<br>

									2.17. Campüs İlan, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS’leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS’lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.
									<br>
									<br>

									3. Sözleşmenin Feshi
									<br>

									İşbu sözleşme üyenin üyeliğini iptal etmesi veya Campüs İlan tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. Campüs İlan üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.
									<br>
									<br>

									4. İhtilaflerin Halli
									<br>

									İşbu sözleşmeye ilişkin ihtilaflerde İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.
									<br>
									<br>

									5. Yürürlük
									<br>

									Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.
									<br>

								</div>
								<br>

								<div class="row">
									
									<div style="overflow:hidden" class="g-recaptcha" data-sitekey="6Ld3uhYTAAAAAICn8yQ17ES81jCf7J4Dpz0yUgkf"></div>
									
									<br>
							
									<%= t.submit 'Kayıt Ol' , :class => 'hidden-lg hidden-md col-lg-2  btn btn-primary' , :style => 'margin-left: 20px;' %>
						
									<%= t.submit 'Kayıt Ol' , :class => 'hidden-sm hidden-xs col-lg-2 col-md-2 btn btn-primary'  %>
									
									
									<br class="visible-xs">
									<br class="visible-xs">

									<button onclick="loginyonlendir()" style="margin-left: 20px;" type="submit"
									class="hidden-lg hidden-md btn btn-primary">
										Zaten üye
										misiniz?
									</button>

									<button onclick="loginyonlendir()" style="margin-left: 20px;" type="submit"
									class="col-lg-3 col-md-4 visible-lg visible-md btn btn-primary">
										Zaten
										üye misiniz?
									</button>

								</div>

							</div>
							
							

						</div>

						
						<% end %>

						<script>
							function loginyonlendir() {

								window.location = "/girisyap";

							}

						</script>

						<!-- user name validation -->

						<script>
							function usernamevalidation() {

								
								var form = document.getElementById("kayitformu");

								var username = form.elements['user_username'].value;
								var usernameRegexp = new RegExp("^[a-zA-Z0-9._-]{4,15}$");

								var check = usernameRegexp.test(username);
								
								var result = false;

								if (username == "") {

									$(".usernameerror").hide();
									$(".usernamevalid").hide();
									$(".uctenkucukhata").hide();
									$(".karakterhatasi").hide();
									$(".usernameboskalamaz").show();

								} else if (username.length < 4) {

									$(".usernameerror").hide();
									$(".usernamevalid").hide();
									$(".karakterhatasi").hide();
									$(".usernameboskalamaz").hide();
									$(".uctenkucukhata").show();

								} else if (!check) {

									$(".usernameerror").hide();
									$(".usernamevalid").hide();
									$(".uctenkucukhata").hide();
									$(".usernameboskalamaz").hide();
									$(".karakterhatasi").show();

								} else {

									$.ajax({
										url : 'checkusername',
										data : {
											authenticity_token : window._token,
											username : username
										},
										error : function() {
											alert('error');
										},
										dataType : 'json',
										success : function(data) {

											$(".usernameerror").hide();
											$(".usernamevalid").hide();
											$(".uctenkucukhata").hide();
											$(".karakterhatasi").hide();
											$(".usernameboskalamaz").hide();

											if (!data.check) {

												$(".usernameerror").show();

											} else {

												$(".usernamevalid").show();
												result = true;

											}

										},
										type : 'POST',
										async: false
									});

								}
								
								return result;

							}

							function namevalidator() {

								var form = document.getElementById("kayitformu");

								var name = form.elements['user_name'].value;

								var nameRegexp = new RegExp("^[a-zA-Z\u00c7\u00e7\u011e\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc]{1,20}$");

								var check = nameRegexp.test(name);
								
								var result = false;

								if (name == "") {

									$(".namekarakterhatasi").hide();
									$(".nameboskalamaz").show();

								} else if (!check) {

									$(".nameboskalamaz").hide();

									$(".namekarakterhatasi").show();

								} else {

									$(".namekarakterhatasi").hide();
									$(".nameboskalamaz").hide();
									result = true;

								}
								
								return result;

							}

							function surnamevalidator() {

								var form = document.getElementById("kayitformu");

								var surname = form.elements['user_surname'].value;

								var surnameRegexp = new RegExp("^([a-zA-Z\u00c7\u00e7\u011e\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc]*([ '-][a-zA-Z\u00c7\u00e7\u011e\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc])*){1,20}$");

								var check = surnameRegexp.test(surname);
								
								var result = false;

								if (surname == "") {

									$(".surnamekarakterhatasi").hide();
									$(".surnameboskalamaz").show();

								} else if (!check) {

									$(".surnameboskalamaz").hide();

									$(".surnamekarakterhatasi").show();

								} else {

									$(".surnamekarakterhatasi").hide();
									$(".surnameboskalamaz").hide();
									result = true;

								}
								
								return result;

							}

							function passwordcheck() {

								var form = document.getElementById("kayitformu");

								var password = form.elements['user_password'].value;

								var passRegexp = new RegExp("((?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})");

								var check = passRegexp.test(password);
								
								var result = false;

								if (password == "") {

									$(".passkarakterhatasi").hide();

									$(".altidankucukhata").hide();

									$(".passboskalamaz").show();

								} else if (password.length < 6) {

									$(".passkarakterhatasi").hide();
									$(".passboskalamaz").hide();

									$(".altidankucukhata").show();

								} else if (!check) {

									$(".passboskalamaz").hide();

									$(".altidankucukhata").hide();

									$(".passkarakterhatasi").show();

								} else {

									$(".passkarakterhatasi").hide();
									$(".passboskalamaz").hide();

									$(".altidankucukhata").hide();
									result = true;

								}

								return result && passwordrepeatcheck();

							}

							function passwordrepeatcheck() {

								var form = document.getElementById("kayitformu");

								var password = form.elements['user_password'].value;

								var password2 = form.elements['user_password_confirmation'].value;

								var check = password == password2;
								
								var result = false;

								if (!check) {

									$(".passkarakterhatasirepeat").show();

								} else {

									$(".passkarakterhatasirepeat").hide();
									result = true;

								}
								
								return result;

							}

							function emailcheck() {

								var form = document.getElementById("kayitformu");

								var email = form.elements['user_email'].value;

								var emailRegexp = new RegExp("^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@" + "[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$");

								var check = emailRegexp.test(email);
								
								var result = false;

								if (email == "") {

									$(".emailerror").hide();
									$(".emailvalid").hide();
									$(".emailkarakterhatasi").hide();
									$(".emailboskalamaz").show();
									$(".uniemailerror").hide();

								} else if (!check) {

									$(".emailerror").hide();
									$(".emailvalid").hide();
									$(".emailboskalamaz").hide();
									$(".emailkarakterhatasi").show();
									$(".uniemailerror").hide();

								} else {

									$.ajax({
										url : 'checkemail',
										data : {
											authenticity_token : window._token,
											email : email
										},
										error : function() {
											alert('error');
										},
										dataType : 'json',
										success : function(data) {

											if (!data.check) {

												$(".emailboskalamaz").hide();
												$(".emailkarakterhatasi").hide();
												$(".emailvalid").hide();
												$(".emailerror").show();
												$(".uniemailerror").hide();

											}
											
											else if(!data.unicheck){
												
												$(".emailboskalamaz").hide();
												$(".emailkarakterhatasi").hide();
												$(".emailvalid").hide();
												$(".emailerror").hide();
												$(".uniemailerror").show();
												
											}
											
											 else {

												$(".emailboskalamaz").hide();
												$(".emailkarakterhatasi").hide();
												$(".emailerror").hide();
												$(".emailvalid").show();
												$(".uniemailerror").hide();
												
												result = true;

											}

										},
										type : 'POST',
										async: false
									});

								}

								return result && emailrepeatcheck();

							}

							function emailrepeatcheck() {

								var form = document.getElementById("kayitformu");

								var email = form.elements['user_email'].value.toLowerCase();

								var email2 = form.elements['user_email_confirmation'].value.toLowerCase();

								var check = email == email2;
								
								var result = false;

								if (!check) {

									$(".emailkarakterhatasirepeat").show();

								} else {

									$(".emailkarakterhatasirepeat").hide();
									result = true;

								}
								
								return result;

							}

							
						</script>

						<!--  regexp kodu -->

						<script>
							function vsubmit() {

								var usernameCheck = usernamevalidation();

								var passwordCheck = passwordcheck();

								var nameCheck = namevalidator();

								var surnameCheck = surnamevalidator();

								var emailCheck = emailcheck();

								if (usernameCheck && passwordCheck && nameCheck 
									&& surnameCheck && emailCheck && grecaptcha.getResponse()!="") {

									return true;

								} else {

									return false;

								}

							}
						</script>

					</div>

				</div>

			</div>

			<%= render "footer" %>

		</div>

		<!-- pluginler -->

		<!--  fixed header -->

		<%= render "headerfixedjs" %>

	</body>

</html>