<% if local[:mode] == 0 %>
<% advertable = "advertable" %>
<% elsif local[:mode] == 1 %>
<% advertable = "secondhand" %>
<% end %>

<%= form_for local[:advert], :url => local[:url] , :method => :post , :html => {
:class => 'form-basic ikinciel' , :id => 'ikincielform',
:onsubmit => 'return ikincielsubmit();'
} do |t| %>

<%= t.fields_for local[:advertable] do |field| %>

<% if local[:mode] == 1%>
<%= t.hidden_field :id %>
<% end %>

<div class="row form-group">
	<label class="control-label col-sm-2"> Alt Kategori</label>

	<div class="col-sm-10">
		<%= field.select :category, [['Beyaz Eşya', 'beyazesya'], ['Ev Dekorasyonu',
        'evdekorasyonu'], ['Müzik Aletleri', 'muzikaletleri'], ['Elektronik', 'elektronik'], ['Kırtasiye', 'kirtasiye'],
      		['Mutfak Eşyaları', 'mutfakesyalari'], ['Vasıta', 'vasita'],['Giyim', 'giyim'],['Kitap ve Ders Notu', 'kitapdersnotu'], ['Takı-Mücevher', 'takimucevher'], ['Diğer', 'diger']],{}, {:class => " form-control"}  %>

	</div>
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">İlan Adı</label>

	<div class = "col-sm-10">
		<%= t.text_field :name, class:"form-control", :maxlength => 60, :onkeyup => 'ikincielilanadiVerify()' %>
	</div>
</div>

<div style="display:none;" class = 'ikincielAlert ikincielNameAlert col-xs-12 label label-danger form-group'>
	Lüften İlan Adı Giriniz
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Fiyat</label>

	<div class = "col-sm-10">
		<%= t.text_field :price, class:"form-control",:placeholder => 'TL', :maxlength => 7, :onkeyup => 'ikincielfiyatVerify()' %>
	</div>
</div>

<div style="display:none;"class = 'ikincielAlert ikincielPriceAlert col-xs-12 label label-danger form-group'>
	Geçersiz Fiyat Değeri
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Ürün Rengi</label>

	<div class = "col-sm-10">
		<%= field.select :color, [['Renk Seçiniz', ''],['Siyah', 'siyah'], ['Beyaz', 'beyaz'], ['Kırmızı','kirmizi'],
		['Mavi', 'mavi'], ['Sarı', 'sari'], ['Yeşil', 'yesil'],['Mor', 'mor'],['Pembe', 'pembe'],['Altın Rengi', 'altin'],['Turuncu', 'turuncu'],['Diğer', 'diger2']],{}, {class: "form-control"}  %>
	</div>
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Marka</label>

	<div class = "col-sm-10">
		<%= field.text_field :brand ,class:"form-control", :onkeyup => 'ikincielmarkaVerify()'%>
	</div>
</div>

<div style="display:none;"class = 'ikincielAlert ikincielBrandAlert col-xs-12 label label-danger form-group'>
	Lütfen Marka Giriniz
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Kullanım Durumu</label>

	<div class = "col-sm-10">
		<%= field.select :usage, [['Sıfır', 'true'], ['İkinci El', 'false']],{}, {class:"form-control"}  %>
	</div>
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Garanti Durumu</label>

	<div class = "col-sm-10">
		<%= field.select :warranty, [['Var', 'true'], ['Yok', 'false']],{}, {class:"form-control"}  %>
	</div>
</div>

<div class = "row form-group">
	<label class = "col-sm-2 control-label">Açıklama</label>

	<div class = "col-sm-10">
		<%= t.text_area :explication, class:"form-control",rows: "5", :onkeyup => 'ikincielaciklamaVerify()', :maxlength => 1000%>
	</div>
</div>

<div style="display:none;"class = 'ikincielAlert ikincielExplicationAlert col-xs-12 label label-danger form-group'>
	Lütfen Açıklama Giriniz
</div>

<br>
<input type='hidden' name='resimler' id='resimlerikinciel' />
<div class="row">
	<%= file_field_tag 'image', :type => :file, :class => 'file_image', :id => 'imagesikinciel' %>
</div>


<br>
<% if local[:mode] == 0 %>
<div class = "row form-group">
	<div class = "col-sm-10">
		<div class = "checkbox">
			<label>
				<input type = "checkbox" id="kullanim" value="true">
				Kullanım koşullarını kabul ediyorum</label>
		</div>
	</div>
</div>

<div style="overflow:hidden;" id="recaptcha1"></div>
<br>
<div class = "row form-group">
	<div class = " col-sm-10">
		<%= t.submit 'İlan Ver',class:"btn btn-default" %>
	</div>
</div>
<% elsif local[:mode] == 1 %>

<div class = "hidden-xs hidden-sm alert alert-info">İlanınızın ana resmini(en başta gözükecek resim) resimlerin yanındaki yukarı ok butonuna tıklayarak belirleyebilirsiniz.</div>

<div class = "hidden-xs hidden-sm alert alert-info">Silmek istediğiniz ilan resminin yanındaki çöp butonuna tıklayarak ilanın resmini kaldırabilirsiniz. </div>

<div class = "visible-xs visible-sm alert alert-info">İlanınızın ana resmini(en başta gözükecek resim) resimlerin altındaki yukarı ok butonuna tıklayarak belirleyebilirsiniz.</div>

<div class = "visible-xs visible-sm alert alert-info">Silmek istediğiniz ilan resminin altındaki çöp butonuna tıklayarak ilanın resmini kaldırabilirsiniz. </div>


<% @images.each do |image|%>

<div class = "visible-xs visible-sm panel panel-default">
   <div class = "panel-body">
     
     
     <div class="image-<%= image.id %>">

	<%= image_tag image.imagefile(:small),width:"175px;",height:"175px;" %>
	

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<br>
	<a  style="cursor: pointer;"   onclick="resimuste(<%= @advert.id %>,<%= image.id %>);" ><span title="Resmi birinci olarak seç" style="font-size:20px;"class="masterTooltip glyphicon glyphicon-triangle-top"></span></a>
	&nbsp;
	<a  style="cursor: pointer;" onclick="resimsil(<%= image.id %>);" ><span title="Resmi sil" style="font-size:20px;"class="masterTooltip glyphicon glyphicon-trash"></span></a>
	<br>
	<br>

</div>
     
     
     
   </div>
</div>

<div class="hidden-xs hidden-sm panel panel-default image-<%= image.id %>">

	<div class = "panel-body">
		
	<%= image_tag image.imagefile(:small) %>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	<br class="visible-xs visible-sm">
	<a  style="cursor: pointer;"   onclick="resimuste(<%= @advert.id %>,<%= image.id %>);" ><span title="Resmi birinci olarak seç" style="font-size:20px;"class="masterTooltip glyphicon glyphicon-triangle-top"></span></a>
	&nbsp;
	<a  style="cursor: pointer;" onclick="resimsil(<%= image.id %>);" ><span title="Resmi sil" style="font-size:20px;"class="masterTooltip glyphicon glyphicon-trash"></span></a>
	<br>
	<br>
	
	</div>

</div>

<% end %>
<div class = "row form-group">
	<div class = "col-sm-offset-2 col-sm-5">
		<%= t.submit 'İlanı Güncelle',class:"btn btn-default" %>
	</div>
	<div class = "col-sm-5">
		<button type="button" class="btn btn-danger" data-title="ilankapat" data-toggle="modal" data-target=".ilankapatildi">İlanı Kapat</button>
	</div>
</div>

<%end%>

<% end %>
<% end %>

<script>
function ilankapat(id){
	$.ajax({
		url : '/closeadvert',
		data : {
			authenticity_token : window._token,
			advert: id
		},
		error : function() {
			alert('error');
		},
		dataType : 'json',
		success : function(data) {

			if (data.check){
				alert("ilanınız kaldırılmıştır");
				window.location = "/";
			}
			
		},
		type : 'POST'
	});
}


	function ikincielilanadiVerify() {
var form = document.getElementById("ikincielform");
var advertname = form.elements['advert_name'].value;
var result = false;

if (!/\S/.test(advertname)) {
$('.ikincielNameAlert').show();
} else {
$('.ikincielNameAlert').hide();
result = true;
}
return result;

}

function ikincielfiyatVerify() {
var form = document.getElementById("ikincielform");
var price = form.elements['advert_price'].value;
var result = false;

var priceRegexp = new RegExp('^[0-9]+$');
var check = priceRegexp.test(price);

if (!check) {
$('.ikincielPriceAlert').show();
} else {
$('.ikincielPriceAlert').hide();
result = true;
}
return result;
}

function ikincielmarkaVerify() {
var form = document.getElementById("ikincielform");
var brand = form.elements['advert_<%= advertable %>_brand'].value;
	var result = false;

	if (brand != "" && !/\S/.test(brand)) {
	$('.ikincielBrandAlert').show();
	} else {
	$('.ikincielBrandAlert').hide();
	result = true;
	}
	return result;
	}

	function ikincielaciklamaVerify() {
	var form = document.getElementById("ikincielform");
	var explication = form.elements['advert_explication'].value;
	var result = false;

	if (!/\S/.test(explication)) {
	$('.ikincielExplicationAlert').show();
	} else {
	$('.ikincielExplicationAlert').hide();
	result = true;
	}
	return result;
	}

	function ikincielsubmit() {

	var ilanadi = ikincielilanadiVerify();
	var fiyat = ikincielfiyatVerify();
	var marka = ikincielmarkaVerify();
	var aciklama = ikincielaciklamaVerify();

<% if local[:mode] == 0 %>
	var kullanim = $("#ikincielform #kullanim").is(":checked");
	return ilanadi && fiyat && marka && aciklama && kullanim && grecaptcha.getResponse(recaptcha1)!="";
<% elsif local[:mode] == 1 %>
	return ilanadi && fiyat && marka && aciklama;
<% end %>}</script>