<h4  class="add-to item_price">Saatlik Ücret: <span style="color:#4DACC9;" ><%= @advert.price %>&#8378;</span></h4>
<br>

<h4  class="add-to item_price">Ders Kategorisi: <span style="color:#4DACC9;" ><%= @advertable.derskategori %></span></h4>
<br>

<h4  class="add-to item_price">Şehir: <span style="color:#4DACC9;" ><%= @advertable.city %></span></h4>
<br>

<h4  class="add-to item_price">Semt: <span style="color:#4DACC9;" ><%= @advertable.state %></span></h4>
<br>

<h4  class="add-to item_price">Özel Ders Şekli: <span style="color:#4DACC9;" ><%= @advertable.ozelderssekli %></span></h4>
<br>

<h4  class="add-to item_price">Dersi Nerede Verecek: <span style="color:#4DACC9;" ><%= @advertable.locationType %></span></h4>
<br>
