<div class="product-bottom">

	<h3 class="cate hidden-xs hidden-sm">Bu ilana bakanlar bunlara da baktı</h3>
	<h3 style="text-align:center;" class="cate visible-xs visible-sm"><u>Bu ilana bakanlar bunlara da baktı</u></h3>
	<br class="visible-sm visible-xs"> 

	


	<% @looked.each do |advert|%>
	<div class="product-go">
		<div class=" fashion-grid">

			<a href="<%= advert.href %>"> <%= image_tag advert.pimage.imagefile(:small),:title => advert.name,class:"img-responsive masterTooltip" %></a>

		</div>
		<div class=" fashion-grid1">

			<% if advert.name.size >=40 %>
			<h6 class="best2"><a href="<%= advert.href %>" ><%= advert.name[0..39] %>...</a></h6>
			<% else %>
			<h6 class="best2"><a href="<%= advert.href %>" ><%= advert.name %></a></h6>
			<% end %>
			<span class=" price-in1"> <%= advert.price %>&#8378;</span>

		</div>
		<div class="clearfix"></div>
	</div>

	<% end %>

</div>