<h4  class="add-to item_price">Aylık Kira: <span style="color:#4DACC9;" ><%= @advert.price %>&#8378;</span></h4>
<br>
<h4  class="add-to item_price">Şehir: <span style="color:#4DACC9;" ><%= @advertable.city.slice(0,1).capitalize + @advertable.city.slice(1..-1) %></span></h4>
<br>
<h4  class="add-to item_price">Semt: <span style="color:#4DACC9;" ><%= @advertable.state.slice(0,1).capitalize + @advertable.state.slice(1..-1) %></span></h4>
<br>
<h4  class="add-to item_price">Aranan: <span style="color:#4DACC9;" ><%= @advertable.aranan %></span></h4>
<br>
<h4  class="add-to item_price">Gece 12'den sonra uyuyor mu: <span style="color:#4DACC9;" ><%= @advertable.uyuma  %></span></h4>
<br>
<h4  class="add-to item_price">Sigara içiyor mu: <span style="color:#4DACC9;" ><%= @advertable.sigara %></span></h4>
<br>
<h4  class="add-to item_price">Eve arkadaşlarını getiriyor mu: <span style="color:#4DACC9;" ><%= @advertable.arkadas %></span></h4>
<br>
<h4  class="add-to item_price">Sesli müzik vs. dinler mi: <span style="color:#4DACC9;" ><%= @advertable.muzik %></span></h4>
<br>
<h4  class="add-to item_price">Aranan: <span style="color:#4DACC9;" ><%= @advertable.aranan %></span></h4>
<br>
