<div id='cssmenu'  style=" margin-bottom: 20px;">
	<ul>

		<% if current_user!=nil %>
		<li class='has-sub'>
			<a href='#'><span>Kullanıcı
				Paneli</span></a>
			<ul>
				<li>
					<a  class="panellinkler" id="profilim" href='/uye/<%= current_user.username%>?profilim=1'><span>Profilim</span></a>
				</li>
				<li>
					<a  id="ilanver" href='/ilanver'><span>İlan Ver</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="satislarim" href='/satis-alis/satislarim'><span>Satışlarım</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="alislarim" href='/satis-alis/alislarim'><span>Alışlarım</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="favorilerid" href='/uye/<%= current_user.username%>?favorilerim=1'><span>Favorilerim</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="mesajlarim" href='/uye/<%= current_user.username%>?mesajlarim=1'><span>Mesajlarım</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="tekliflerim" href='/uye/<%= current_user.username%>?tekliflerim=1'><span>Tekliflerim</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="inceledigimilanlar" href='/uye/<%= current_user.username%>?inceledigimilanlar=1'><span>İncelediğim
						İlanlar</span></a>
				</li>
				<li class='last'>
					<a class="panellinkler" id="hesapayarlariid" href='/uye/<%= current_user.username%>?hesapayarlari=1'><span>Hesap
						Ayarları</span></a>
				</li>
			</ul>
		</li>
		<%end %>

		<li class='has-sub'>
			<a href='#'><span>Kategoriler</span></a>
			<ul>
				<li>
					<a href='/kategoriler/ikincielilan'><span>İkinci El İlan</span></a>
				</li>
				<li>
					<a href='/kategoriler/evarkadasi'><span>Ev Arkadaşı</span></a>
				</li>
				<li class='last'>
					<a href='/kategoriler/dersnotu'><span>Ders
						Notları</span></a>
				</li>
				<li class='last'>
					<a href='/kategoriler/ozelders'><span>Özel Ders</span></a>
				</li>
				
			</ul>
		</li>
		<li class='has-sub'>
			<a href=''><span>Fırsatlar
				Paneli</span></a>
			<ul>
				<li>
					<a href='/firsatlar?acililanlar=1'><span>Acil İlanlar</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?gununfirsatlari=1'><span>Günün
						Fırsatları</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?ensonilanlar=1'><span>En Son
						İlanlar</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?enpopulerilanlar=1'><span>En Popüler
						İlanlar</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?fiyatidusenler=1'><span>Fiyatı
						Düşenler</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?enguvenilirsaticilar=1'><span>En
						Güvenilir Satıcılar</span></a>
				</li>
				<li class='last'>
					<a href='/firsatlar?enyakindakisaticilar=1'><span>En Yakında
						Olan Satıcılar</span></a>
				</li>
			</ul>
		</li>
		<li class='last'>
			<a href='/yardim'><span>Yardım</span></a>
		</li>
		<li class='last'>
			<a href='/iletisim'><span>İletişim</span></a>
		</li>

	</ul>
</div>

<!-- Kullanıcı paneli js kısmı -->
<% if current_user!= nil && request.env['PATH_INFO']=="/uye/" + current_user.username %>
<script>
	$(function() {
		$(".degiskenpanel").hide();
		$(".hesapayarlari").hide();
		$(".favoriler").hide();
		$(".tekliflerim").hide();
		$(".profilim").hide();
		$(".inceledigimilanlar").hide();
		
		
		
		
		

		$("#hesapayarlariid").click(function() {

			$(".panelortak").hide();
			$(".degiskenpanel").show();

			$(".hesapayarlari").show();

		})

		$("#profilim").click(function() {

			
			$(".panelortak").hide();

			$(".profilim").show();
			
			$(".degiskenpanel").hide();

		})

		$("#favorilerid").click(function() {

			
			$(".panelortak").hide();
			$(".favoriler").show();
			$(".degiskenpanel").hide();

		})

		$("#tekliflerim").click(function() {

			$(".degiskenpanel").show();
			$(".panelortak").hide();
			$(".tekliflerim").show();

		})
		
		$("<%= @sekme %>").show(); 
		
		<% if @sekme==".tekliflerim" || @sekme==".hesapayarlari" %>
		
		$(".degiskenpanel").show();
		
		<% end %>
		
	})

	$(".panellinkler").click(function(event) {

		// This will prevent the default action of the anchor
		event.preventDefault();

		// Failing the above, you could use this, however the above is recommended
		return false;

	});
	
	
	
	
	
	
	

</script>
<% end %>