<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<meta charset="utf-8">
		<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet">

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<!-- dropdown login box -->

		<link rel="stylesheet"
		href="/resources/plugins/dropdownloginbox/css/style.css" />

		<script src="/resources/plugins/dropdownloginbox/js/login.js"></script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="/resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<link href="/resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="/resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="/resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="/resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="/resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- Product template -->

		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<link href="/resources/plugins/producttemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />

		<!-- Product View-->

		<link rel="stylesheet" href="/resources/plugins/productview/css/easyzoom.css" />

		<!-- end of plugins  -->

		<style>
			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
					padding-right: 50px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}

			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}
		</style>

	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files
		as needed -->
		<script src="/resources/js/bootstrap.min.js"></script>

		<div class="container-fluid">

			<div class="row" style="margin-bottom: 10px;">

				<!-- Login Starts Here -->

				<%= render "loginContainer" %>

				<!-- Login Ends Here -->

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<!-- You need this element to prevent the content of the page from jumping up -->
			<div class="header-fixed-placeholder"></div>

			<div class="row">

				<%= render "smartmenus" %>

			</div>

			<div class="row">

				<div class="single">

					<div class="container-fluid">
						<div class="col-md-9">
							<div class="hidden-xs hidden-sm col-md-6 grid">
								
								<% if @images == [] %>
									<div>
										<a> <%= image_tag Image.new.imagefile, :class =>"img-responsive", :style => "width:400px;height:400px;"%> </a>
									</div>
								<% else %>
									<div class="row easyzoom easyzoom--overlay easyzoom--with-thumbnails">
										<a href="<%= image_path @images[0].imagefile(:original) %>"> <%= image_tag @images[0].imagefile(:original), :class =>"img-responsive", :style => "width:400px;height:400px;"%> </a>
									</div>
								<% end %>

								

								<br>
								<br>

								<div class="row thumbnails">

									<div class="row">

										<% @images[0..2].each do |image|%>

										<a class="col-lg-4 col-md-4" href="<%= image_path image.imagefile(:original) %>" data-standard="<%= image_path image.imagefile(:original) %>"> <img width="100" height="100" src="<%= image_path image.imagefile(:original) %>" alt="" /> </a>

										<% end %>

									</div>

									<% if @images.count>3 %>

									<div style="margin-top:20px; " class="row">
										<% @images[3..5].each do |image|%>
										<a class="col-lg-4" href="<%= image_path image.imagefile(:original) %>" data-standard="<%= image_path image.imagefile(:original) %>"> <img width="100" height="100" src="<%= image_path image.imagefile(:original)  %>" alt="" /> </a>
										<% end%>
									</div>

									<% end%>

								</div>

							</div>

							<div class="visible-xs col-md-6 grid">

								<div class="row  easyzoom easyzoom--overlay easyzoom--with-thumbnails">
									<a href="/resources/plugins/productview/example-images/3_zoom_1.jpg"> <img class="img-responsive" src="/resources/plugins/productview/example-images/3_standard_1.jpg" alt=""  /> </a>
								</div>

								<br>
								<br>

								<div class="row thumbnails">

									<div class="row">

										<a class="col-xs-6 " href="/resources/plugins/productview/example-images/3_zoom_1.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_1.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_1.jpg" alt="" /> </a>

										<a class="col-xs-6 " href="/resources/plugins/productview/example-images/3_zoom_2.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_2.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_2.jpg" alt="" /> </a>

									</div>
									<div style="margin-top:20px; " class="row">

										<a class="col-lg-6 " href="/resources/plugins/productview/example-images/3_zoom_3.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_3.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_3.jpg" alt="" /> </a>

										<a class="col-xs-6" href="/resources/plugins/productview/example-images/3_zoom_4.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_4.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_4.jpg" alt="" /> </a>
									</div>
								</div>

							</div>

							<div class="visible-sm col-md-6 grid">

								<div class="row  easyzoom easyzoom--overlay easyzoom--with-thumbnails">
									<a href="/resources/plugins/productview/example-images/3_zoom_1.jpg"> <img class="img-responsive" src="/resources/plugins/productview/example-images/3_standard_1.jpg" alt=""  /> </a>
								</div>

								<br>
								<br>

								<div class="row thumbnails">

									<div class="row">

										<a class="col-sm-3 " href="/resources/plugins/productview/example-images/3_zoom_1.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_1.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_1.jpg" alt="" /> </a>

										<a class="col-sm-3 " href="/resources/plugins/productview/example-images/3_zoom_2.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_2.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_2.jpg" alt="" /> </a>

										<a class="col-sm-3 " href="/resources/plugins/productview/example-images/3_zoom_3.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_3.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_3.jpg" alt="" /> </a>

										<a class="col-sm-3" href="/resources/plugins/productview/example-images/3_zoom_4.jpg" data-standard="/resources/plugins/productview/example-images/3_standard_4.jpg"> <img width="100" height="100" src="/resources/plugins/productview/example-images/3_thumbnail_4.jpg" alt="" /> </a>
									</div>

								</div>

							</div>

							<br class="visible-sm ">

							<div class="col-md-6 single-top-in">
								<div class="single-para simpleCart_shelfItem">

									<br class="visible-xs ">
									<h1><%= @advert.name %></h1>

									<br>
									<% if current_user!= nil %>
									<% fav = FavouriteAdvert.find_by(:advert => @advert, :user => current_user) %>
									
									<button <% if fav %> style="display:none;" <% end %>  class="favorilereekle btn btn-danger">Favorilere Ekle </button>
									
									<button <% if !fav  %> style="display:none;" <% end %> class="favorilerdenkaldir btn btn-danger">Favorilerden Kaldır </button>
									
									<% end %>
									
									<% if @advert.user == current_user || current_user!= nil && current_user.role == 'admin' %>
									
									<button onclick="window.location = '<%= @advert.href_guncelle %>' " class="btn  btn-danger">İlanı Düzenle </button>
									
									<% end %>
									
									
									
									<br><br>
									
									<div style="padding:10px; border:1px solid black;">
										<div class="star-on">

											<h3>Kullanıcı Güven Oyu</h3>
											<br>
											<ul>
												<li>
													<a href="#"><i class="glyphicon glyphicon-star"> </i></a>
												</li>
												<li>
													<a href="#"><i class="glyphicon glyphicon-star"> </i></a>
												</li>
												<li>
													<a href="#"><i class="glyphicon glyphicon-star"> </i></a>
												</li>
												<li>
													<a href="#"><i class="glyphicon glyphicon-star"> </i></a>
												</li>
												<li>
													<a href="#"><i class="glyphicon glyphicon-star"> </i></a>
												</li>
											</ul>
											<div class="review">

												<a href="#"> 3 Yorum </a>

											</div>
											<div class="clearfix"></div>
										</div>
										<br>

										<h4  class="add-to item_price">Fiyat: <%= @advert.price %>&#8378;</h4>
										<br>

										<h4  class="add-to item_price">Ürün Rengi: <%= @advertable.color %></h4>
										<br>

										<h4  class="add-to item_price">Marka: <%= @advertable.brand %> </h4>
										<br>

										<h4  class="add-to item_price">Kullanım Durumu: <% if @advertable.usage %>
										Sıfır
										<% else %>
										İkinci El
										<% end %> </h4>
										<br>

										<h4  class="add-to item_price">Garanti Durumu: <% if @advertable.warranty %>
										Var
										<% else %>
										Yok
										<% end %> </h4>
										<br>

										<h4  class="add-to item_price">İlan sahibinin telefonu: <%= @advert_user.phone %> </h4>
										<br>
										<h4> İlan sahibinin profili için <a href="/uye/<%= @advert_user.username %>">buraya</a> tıklayınız. </h4>
										<br>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<br>
							
							<div style="padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:50px;border: 1px solid black;" class="row">
								
								<h2 style="text-align:center;" class="">Açıklama</h2>
								
								<p><%= @advert.explication  %></p>
								
							</div>
							
							<br><br>

							<div class="benzerurunler row">

								<h2 style="text-align:center;" class="">Benzer Ürünler</h2>

							</div>
							
							<%if @similar == [] %>
							
							<p> Benzer İlan Bulunmamaktadır.</p>
							
							<% else %>
							

							<div class="content-top1">
								
								<% @similar.each do |advert| %>
								
									<div class="col-md-4 col-md3">
										<div class="col-md1 simpleCart_shelfItem">
											<% if advert.images != [] %>
											<a title="<%= advert.name%> " href="<%= advert.href %>"> <%= image_tag advert.images[0].imagefile(:small), :class => 'img-responsive' %> </a>
											<% else %>
											<a title="<%= advert.name%> " href="<%= advert.href %>"> <%= image_tag Image.new.imagefile,class:"img-responsive"  %> </a>
											<% end %>
											<% if advert.name.size >= 30 %>
											<h3><a href="<%= advert.href %>"> <%= advert.name[0..27] %>... </a></h3>
											<% else %>
											<h3><a href="<%= advert.href %>"> <%= advert.name %> </a></h3>
											<% end %>
											<div class="price">
												<h5 class="item_price"><%= advert.price %>&#8378;</h5>
												<a href="#" class="item_add">İncele</a>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								
								<% end %>
								
								
								

								<div class="clearfix"></div>
							</div>
							
							<% end %>
						</div>
						<!----->
						<div class="col-md-3 product-bottom">
							<!--categories-->

							<%= render 'ilankategoriler'%>

							<!--initiate accordion-->

							<!--//menu-->
							<!--seller-->

							<br>
							<div class="product-bottom">
								<h3 class="cate">Bu ürüne bakanlar bunlara da baktı</h3>
								
								<% @looked.each do |advert|%>
								<div class="product-go">
									<div class=" fashion-grid">
										<% if advert.images != [] %>
										<a href="<%= advert.href %>"> <%= image_tag advert.images[0].imagefile(:small),:title => advert.name,class:"img-responsive" %></a>
										<% else %>
										<a href="<%= advert.href %>"> <%= image_tag Image.new.imagefile ,:title => advert.name,class:"img-responsive"  %></a>
										<% end %>
									</div>
									<div class=" fashion-grid1">
										
										<% if advert.name.size >=40 %>
										<h6 class="best2"><a href="<%= advert.href %>" ><%= advert.name[0..39] %>...</a></h6>
										<% else %>
										<h6 class="best2"><a href="<%= advert.href %>" ><%= advert.name %></a></h6>
										<% end %>
										<span class=" price-in1"> <%= advert.price %>&#8378;</span>
										
										
										
									</div>
									<div class="clearfix"></div>
								</div>
								
								<% end %>
								
								
								
							</div>

							<!--//seller-->
							<!--tag-->
							<!-- <div class="tag">
							<h3 class="cate">Etiketler</h3>
							<div class="tags">
							<ul>
							<li>
							<a href="#">design</a>
							</li>
							<li>
							<a href="#">fashion</a>
							</li>
							<li>
							<a href="#">lorem</a>
							</li>
							<li>
							<a href="#">dress</a>
							</li>
							<li>
							<a href="#">fashion</a>
							</li>
							<li>
							<a href="#">dress</a>
							</li>
							<li>
							<a href="#">design</a>
							</li>
							<li>
							<a href="#">dress</a>
							</li>
							<li>
							<a href="#">design</a>
							</li>
							<li>
							<a href="#">fashion</a>
							</li>
							<li>
							<a href="#">lorem</a>
							</li>
							<li>
							<a href="#">dress</a>
							</li>
							<div class="clearfix"></div>
							</ul>
							</div>
							</div> -->
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>

			<!-- responsive header -->

			<%= render "headerfixedjs" %>

			<%= render "footer" %>

		</div>
		
		
		<!-- favorilere ekle/kaldır ajax -->
		
		<% if current_user!= nil %>
		
		<script>
			
			$(".favorilereekle").click(function() {
				
				
				$.ajax({
				
					url : '/favorilereekle',
					data : {
						authenticity_token : window._token,
						advertid : <%= @advert.id %>,
						
						
					},
					error : function() {
			
						alert("Lütfen bağlantınızı kontrol edin!!")
					},
					dataType : 'json',
					success : function(data) {

						if (!data.check) {

						
						} 
						
						else {
							
							$(".favorilerdenkaldir").show();
							$(".favorilereekle").hide();
							
						}
				
					},
				
				type : 'POST'
				
			}) 
			
			}
			
		)
		
		
		
		$(".favorilerdenkaldir").click(function() {
				
				
				$.ajax({
				
					url : '/favorilerdenkaldir',
					data : {
						authenticity_token : window._token,
						advertid : <%= @advert.id %>,
						
						
					},
					error : function() {
			
						alert("Lütfen bağlantınızı kontrol edin!!")
					},
					dataType : 'json',
					success : function(data) {

						if (!data.check) {
							alert("Başarısız");
						
						} 
						
						else {
							
							$(".favorilereekle").show();
							$(".favorilerdenkaldir").hide();
						}
				
					},
				
				type : 'POST'
				
			}) 
			
			}
			
		)
		
		
		
		
			
			
		</script>
		
		<% end %>

		<!-- Plugins-->

		<!-- Product Template-->

		<!-- slide -->
		<script src="/resources/plugins/producttemplate/js/jquery.min.js"></script>
		<script src="/resources/plugins/producttemplate/js/imagezoom.js"></script>
		<!-- start menu -->
		<link href="/resources/plugins/producttemplate/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
		<script type="text/javascript" src="/resources/plugins/producttemplate/js/memenu.js"></script>
		<script>
			$(document).ready(function() {
				$(".memenu").memenu();
			});
		</script>
		<script src="/resources/plugins/producttemplate/js/simpleCart.min.js"></script>
		<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
				var menu_ul = $('.menu-drop > li > ul'),
				    menu_a = $('.menu-drop > li > a');
				menu_ul.hide();
				menu_a.click(function(e) {
					e.preventDefault();
					if (!$(this).hasClass('active')) {
						menu_a.removeClass('active');
						menu_ul.filter(':visible').slideUp('normal');
						$(this).addClass('active').next().stop(true, true).slideDown('normal');
					} else {
						$(this).removeClass('active');
						$(this).next().stop(true, true).slideUp('normal');
					}
				});

			});
		</script>

		<!---pop-up-box---->
		<link href="/resources/plugins/producttemplate/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
		<script src="/resources/plugins/producttemplate/js/jquery.magnific-popup.js" type="text/javascript"></script>
		<!---//pop-up-box---->
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type : 'inline',
					fixedContentPos : true,
					fixedBgPos : true,
					overflowY : 'auto',
					closeBtnInside : true,
					preloader : false,
					midClick : true,
					removalDelay : 300,
					mainClass : 'my-mfp-zoom-in'
				});

			});
		</script>

		<!-- Product View Eklentisi-->

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

		<script>
			var productview = jQuery.noConflict();
		</script>

		<script src="/resources/plugins/productview/dist/easyzoom.js"></script>

		<script>
			// Instantiate EasyZoom instances
			var $easyzoom = productview('.easyzoom').easyZoom();

			// Setup thumbnails example
			var api1 = $easyzoom.filter('.easyzoom--with-thumbnails').data('easyZoom');

			$('.thumbnails').on('click', 'a', function(e) {
				var $this = productview(this);

				e.preventDefault();

				// Use EasyZoom's `swap` method
				api1.swap($this.data('standard'), $this.attr('href'));
			});

			// Setup toggles example
			var api2 = $easyzoom.filter('.easyzoom--with-toggle').data('easyZoom');

			$('.toggle').on('click', function() {
				var $this = productview(this);

				if ($this.data("active") === true) {
					$this.text("Switch on").data("active", false);
					api2.teardown();
				} else {
					$this.text("Switch off").data("active", true);
					api2._init();
				}
			});
		</script>

	</body>

</html>