<!DOCTYPE html>

<html>

	<head>

		<title>Campus İlan</title>
		<%= csrf_meta_tags %>
		<%= javascript_tag "window._token = '#{form_authenticity_token}';" %>
		<meta charset="utf-8">

		<META http-equiv=content-type content=text/html;charset=iso-8859-9>
		<META http-equiv=content-type content=text/html;charset=windows-1254>
		<META http-equiv=content-type content=text/html;charset=x-mac-turkish>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet">

		<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page
		via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
		html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/
		respond.min.js"></script>
		<![endif]-->

		<!--plugins: -->

		<!-- dropdown login box -->

		<link rel="stylesheet"
		href="/resources/plugins/dropdownloginbox/css/style.css" />

		<script src="/resources/plugins/dropdownloginbox/js/login.js"></script>

		<!-- Fixed Header -->

		<link rel="stylesheet" href="/resources/assets/header-fixed.css">

		<link href='http://fonts.googleapis.com/css?family=Cookie'
		rel='stylesheet' type='text/css'>

		<!-- Fixed Header sonu -->

		<link href="/resources/css/searchbox.css" rel="stylesheet"
		type="text/css" />

		<!-- Smart Menus plugin -->

		<!-- jQuery import -->
		<script src="/resources/plugins/smartmenus/libs/jquery/jquery.js"
		type="text/javascript"></script>

		<script>
			var smartmenus = jQuery.noConflict();
		</script>

		<!-- SmartMenus jQuery plugin -->
		<script src="/resources/plugins/smartmenus/jquery.smartmenus.js"
		type="text/javascript"></script>

		<!-- SmartMenus core CSS (required) -->
		<link href="/resources/plugins/smartmenus/css/sm-core-css.css"
		rel="stylesheet" type="text/css" />
		<!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
		<link href="/resources/plugins/smartmenus/css/sm-blue/sm-blue.css"
		rel="stylesheet" type="text/css" />

		<!-- SmartMenus jQuery init -->
		<script>
			smartmenus(document).ready(function() {
				smartmenus('#main-menu').smartmenus();
			});
		</script>

		<!-- Image Upload Plugin-->

		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<script>
			var imageupload = jQuery.noConflict();
		</script>

		<link href="/resources/plugins/imageupload/css/jquery.filer.css" type="text/css" rel="stylesheet" />
		<link href="/resources/plugins/imageupload/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />

		<script type="text/javascript" src="/resources/plugins/imageupload/js/jquery.filer.js?v=1.0.5"></script>
		<script type="text/javascript" src="/resources/plugins/imageupload/js/custom.js?v=1.0.5"></script>

		<!-- end of plugins  -->

		<style>
			body {
				background-color: #F0F7F7;
			}
			@media screen and (min-width: 1200px) {
				body {
					padding-left: 50px;
					padding-right: 50px;
					padding-top: 30px;
				}
			}
			@media screen and (max-width: 1200px) {
				body {
					padding: 10px;
				}
			}
			.sagsutun {
				text-align: left;
			}
		</style>

	</head>

	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files
		as needed -->
		<script src="/resources/js/bootstrap.min.js"></script>

		<div class="container-fluid">

			<div class="visible-xs visible-sm row" style="margin-bottom: 10px;">

				<!-- Login Starts Here -->

				<%= render "loginContainer" %>

				<!-- Login Ends Here -->

			</div>

			<div class="row">

				<%= render "headerfixed" %>

			</div>

			<!-- You need this element to prevent the content of the page from jumping up -->
			<div class="header-fixed-placeholder"></div>

			<div class="row">

				<%= render "smartmenus" %>

			</div>

			<div class="row well">

				<div class="col-lg-6">

					<h2 class="row" style="text-align:center;"> İlan Güncelle</h2>
					<br>

					<div class="row form-group">
						<label class="col-sm-2"> İlan Kategorisi </label>
						<div class="col-sm-10">
							<select disabled class="form-control"
							name="dropdown">
								<option <%= 'selected' if @advert.advertable_type=='Secondhand'%> value="ikinciel">İkinci El İlan</option>
								<option <%= 'selected' if @advert.advertable_type=='Homemate'%> value="evarkadasi">Ev Arkadaşı</option>
								<option <%= 'selected' if @advert.advertable_type=='Lessonnote'%> value="dersnotlari">Ders Notları</option>
								<option <%= 'selected' if @advert.advertable_type=='PrivateLesson'%> value="ozelders">Özel Ders</option>
							</select>
						</div>
					</div>
					
					<% if @advert.advertable_type=='Secondhand' %>

					<%= form_for @advert, :url => '/ilanguncelle/secondhand' , :method => :post , :html => {
					:class => 'form-basic ikinciel' , :id => 'ikincielform',
					:multipart => true,
					:onsubmit => 'return ikincielsubmit();',
					} do |t| %>

					<%= t.fields_for @advert.advertable do |field| %>
					
					<%= t.hidden_field :id %>

					<div class="row form-group">
						<label class="control-label col-sm-2"> Alt Kategori</label>

						<div class="col-sm-10">
							<%= field.select :category, [['Beyaz Eşya', 'beyazesya'], ['Ev Dekorasyon',
                  'evdekorasyon'], ['Müzik Aletleri', 'muzikaletleri'], ['Elektronik', 'elektronik'], ['Kırtasiye', 'kirtasiye'],
                ['Mutfak Eşyaları', 'mutfakesyalari'], ['Vasıta', 'vasita'], ['Diğer', 'diger']],{}, {:class => " form-control"}  %>

						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">İlan Adı</label>

						<div class = "col-sm-10">
							<%= t.text_field :name, class:"form-control", :maxlength => 60, :onkeyup => 'ikincielilanadiVerify()' %>
						</div>
					</div>

					<div style="display:none;" class = 'ikincielAlert ikincielNameAlert col-xs-12 label label-danger form-group'>
						Lüften İlan Adı Giriniz
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Fiyat</label>

						<div class = "col-sm-10">
							<%= t.text_field :price, class:"form-control", :maxlength => 7, :onkeyup => 'ikincielfiyatVerify()' %>
						</div>
					</div>

					<div style="display:none;"class = 'ikincielAlert ikincielPriceAlert col-xs-12 label label-danger form-group'>
						Geçersiz Fiyat Değeri
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Ürün Rengi</label>

						<div class = "col-sm-10">
							<%= field.select :color, [['Siyah', 'siyah'], ['Beyaz', 'beyaz'], ['Kırmızı','kirmizi'],
							['Mavi', 'mavi'], ['Sarı', 'sari'], ['Yeşil', 'yesil']],{}, {class: "form-control"}  %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Marka</label>

						<div class = "col-sm-10">
							<%= field.text_field :brand ,class:"form-control", :onkeyup => 'ikincielmarkaVerify()'%>
						</div>
					</div>

					<div style="display:none;"class = 'ikincielAlert ikincielBrandAlert col-xs-12 label label-danger form-group'>
						Lütfen Marka Giriniz
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Kullanım Durumu</label>

						<div class = "col-sm-10">
							<%= field.select :usage, [['Sıfır', 'true'], ['İkinci El', 'false']],{}, {class:"form-control"}  %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Garanti Durumu</label>

						<div class = "col-sm-10">
							<%= field.select :warranty, [['Var', 'true'], ['Yok', 'false']],{}, {class:"form-control"}  %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Açıklama</label>

						<div class = "col-sm-10">
							<%= t.text_area :explication, class:"form-control", :onkeyup => 'ikincielaciklamaVerify()'%>
						</div>
					</div>

					<div style="display:none;"class = 'ikincielAlert ikincielExplicationAlert col-xs-12 label label-danger form-group'>
						Lütfen Açıklama Giriniz
					</div>

					<br>

					<div class="row">
						<%= file_field_tag 'images[]', :type => :file, :multiple => true, :class => 'file_image' %>
					</div>
					
					<% @images.each do |image|%>
					
					<div class="image-<%= image.id %>">

					<%= image_tag image.imagefile(:small) %>


					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					

					<a  style="cursor: pointer;" onclick="resimsil(<%= @advert.id %>,<%= image.id %>);" ><span style="font-size:20px;"class="glyphicon glyphicon-trash"></span></a>
					<br>
					<br>
					
					</div>

					<% end %>

					

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<%= t.submit 'İlanı Güncelle',class:"btn btn-default" %>
						</div>
					</div>

					<% end %>
					<% end %>
					

					<script>
						function ikincielilanadiVerify() {
							var form = document.getElementById("ikincielform");
							var advertname = form.elements['advert_name'].value;
							var result = false;

							if (!/\S/.test(advertname)) {
								$('.ikincielNameAlert').show();
							} else {
								$('.ikincielNameAlert').hide();
								result = true;
							}
							return result;

						}

						function ikincielfiyatVerify() {
							var form = document.getElementById("ikincielform");
							var price = form.elements['advert_price'].value;
							var result = false;

							var priceRegexp = new RegExp('^[0-9]*$');
							var check = priceRegexp.test(price);

							if (!check) {
								$('.ikincielPriceAlert').show();
							} else {
								$('.ikincielPriceAlert').hide();
								result = true;
							}
							return result;
						}

						function ikincielmarkaVerify() {
							var form = document.getElementById("ikincielform");
							var brand = form.elements['advert_secondhand_brand'].value;
							var result = false;

							if (!/\S/.test(brand)) {
								$('.ikincielBrandAlert').show();
							} else {
								$('.ikincielBrandAlert').hide();
								result = true;
							}
							return result;
						}

						function ikincielaciklamaVerify() {
							var form = document.getElementById("ikincielform");
							var explication = form.elements['advert_explication'].value;
							var result = false;

							if (!/\S/.test(explication)) {
								$('.ikincielExplicationAlert').show();
							} else {
								$('.ikincielExplicationAlert').hide();
								result = true;
							}
							return result;
						}


						function ikincielsubmit() {

							var ilanadi = ikincielilanadiVerify();
							var fiyat = ikincielfiyatVerify();
							var marka = ikincielmarkaVerify();
							var aciklama = ikincielaciklamaVerify();

							return ilanadi && fiyat && marka && aciklama;

						}
					</script>
					
					<% end %>
					<% if @advert.advertable_type=='Lessonnote' %>

					<%= form_for @advert, :url => 'lecturenote' , :method => :post , :html => {
					:class => 'form-basic ikinciel' , :id => 'dersnotuform',
					:style => 'display:none;'
					} do |t| %>

					<%= t.fields_for :advertable do |field| %>
					
					<%= t.hidden_field :id %>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">İlan Adı</label>

						<div class = "col-sm-10">
							<%= t.text_field :name, class:"form-control" %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Fiyat</label>

						<div class = "col-sm-10">
							<%= t.text_field :price, class:"form-control" %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Açıklama</label>

						<div class = "col-sm-10">
							<%= t.text_field :explication, class:"form-control" %>
						</div>
					</div>

					<div class="row">
						<%= file_field_tag 'images[]', :type => :file, :multiple => true, :class => 'file_image'%>
					</div>

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<div class = "checkbox">
								<label>
									<input type = "checkbox">
									Kullanım koşullarını kabul ediyorum</label>
							</div>
						</div>
					</div>

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<%= t.submit 'İlan Ver',class:"btn btn-default" %>
						</div>
					</div>
					<% end %>
					<% end %>
					<% end %>

					<% if @advert.advertable_type=='Homemate' %>
					<%= form_for @advert, :url => '/ilanguncelle/homemate' , :method => :post , :html => {
					:class => 'form-basic ikinciel' , :id => 'evarkadasiform',
					:multipart => true,
					:onsubmit => 'return evarkadasisubmit();'
					} do |t| %>

					<%= t.fields_for @advert.advertable do |field| %>
					
					<%= t.hidden_field :id %>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">İlan Adı</label>

						<div class = "col-sm-10">
							<%= t.text_field :name, class:"form-control", :onkeyup => 'evarkadasiilanadiVerify()' %>
						</div>
					</div>
					
					<div style="display:none;" class = 'evarkadasiAlert evarkadasiNameAlert col-xs-12 label label-danger form-group'>
						Lüften İlan Adı Giriniz
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Aylık Kira</label>

						<div class = "col-sm-10">
							<%= t.text_field :price, class:"form-control", :onkeyup => 'evarkadasifiyatVerify()' %>
						</div>
					</div>
					
					<div style="display:none;" class = 'evarkadasiAlert evarkadasiPriceAlert col-xs-12 label label-danger form-group'>
						Geçersiz Fiyat Değeri
					</div>
					
					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Semt</label>

						<div class = "col-sm-10">
							<%= field.text_field :state, class:"form-control", :onkeyup => 'evarkadasisemtVerify()' %>
						</div>
					</div>
					
					<div style="display:none;" class = 'evarkadasiAlert evarkadasiStateAlert col-xs-12 label label-danger form-group'>
						Geçersiz Semt Adı
					</div>
					
					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Şehir</label>

						<div class = "col-sm-10">
							<%= field.text_field :city, class:"form-control", :onkeyup => 'evarkadasisehirVerify()' %>
						</div>
					</div>
					
					<div style="display:none;" class = 'evarkadasiAlert evarkadasiCityAlert col-xs-12 label label-danger form-group'>
						Geçersiz Şehir Adı
					</div>
					
					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Aranan</label>

						<div class = "col-sm-10">
							<%= field.select :demand, [['Erkek', 'male'], ['Kadın', 'female'], ['Hepsi', 'both']],{}, {class:"form-control"}  %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Açıklama</label>

						<div class = "col-sm-10">
							<%= t.text_area :explication, class:"form-control", :onkeyup => 'evarkadasiaciklamaVerify()' %>
						</div>
					</div>
					
					<div style="display:none;" class = 'evarkadasiAlert evarkadasiExplicationAlert col-xs-12 label label-danger form-group'>
						Lüften Açıklama Giriniz
					</div>
					
					<br/>

					<div class="row">
						<%= file_field_tag 'images[]', :type => :file, :multiple => true, :class => 'file_image'%>
					</div>

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<%= t.submit 'İlanı Güncelle',class:"btn btn-default" %>
						</div>
					</div>
					<% end %>
					<% end %>
					
					<script>
					
						
						function evarkadasiilanadiVerify(){
							var form = document.getElementById("evarkadasiform");
							var advertname = form.elements['advert_name'].value;
							var result = false;
							
							if(!/\S/.test(advertname)){
								$('.evarkadasiNameAlert').show();
							}
							
							else {
								$('.evarkadasiNameAlert').hide();
								result = true;
							}
							return result;
							
						}
						
						function evarkadasifiyatVerify(){
							var form = document.getElementById("evarkadasiform");
							var price = form.elements['advert_price'].value;
							var result = false;
							
							var priceRegexp = new RegExp('^[0-9]+$');
							var check = priceRegexp.test(price);
							
							if(!check){
								$('.evarkadasiPriceAlert').show();
							}
							
							else {
								$('.evarkadasiPriceAlert').hide();
								result = true;
							}
							return result;
						}
						
						function evarkadasisemtVerify(){
							var form = document.getElementById("evarkadasiform");
							var state = form.elements['advert_advertable_state'].value;
							var result = false;
							
							if(!/^[a-zA-Z\u00c7\u00e7\u011e\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc]{1,20}$/.test(state)){
								$('.evarkadasiStateAlert').show();
							}
							
							else {
								$('.evarkadasiStateAlert').hide();
								result = true;
							}
							return result;
							
						}
						
						function evarkadasisehirVerify(){
							var form = document.getElementById("evarkadasiform");
							var city = form.elements['advert_advertable_city'].value;
							var result = false;
							
							if(!/^[a-zA-Z\u00c7\u00e7\u011e\u011f\u0130\u0131\u00d6\u00f6\u015e\u015f\u00dc\u00fc]{1,20}$/.test(city)){
								$('.evarkadasiCityAlert').show();
							}
							
							else {
								$('.evarkadasiCityAlert').hide();
								result = true;
							}
							return result;
							
						}
						
						function evarkadasiaciklamaVerify(){
							var form = document.getElementById("evarkadasiform");
							var explication = form.elements['advert_explication'].value;
							var result = false;
							
							if(!/\S/.test(explication)){
								$('.evarkadasiExplicationAlert').show();
							}
							
							else {
								$('.evarkadasiExplicationAlert').hide();
								result = true;
							}
							return result;
						}
					
						function evarkadasisubmit(){
							
							var ilanadi = evarkadasiilanadiVerify();
							var fiyat = evarkadasifiyatVerify();
							var semt = evarkadasisemtVerify();
							var sehir = evarkadasisehirVerify();
							var aciklama = evarkadasiaciklamaVerify();
							
							var kullanim = $("#evarkadasiform #kullanim").is(":checked");
							
							return ilanadi && fiyat && semt && sehir && aciklama && kullanim;
							
						}
					</script>
					<% end %>

					<% if @advert.advertable_type=='Privatelesson' %>
					<%= form_for @advert, :url => 'privatelesson' , :method => :post , :html => {
					:class => 'form-basic ikinciel' , :id => 'ozeldersform',
					:style => 'display:none;'
					} do |t| %>

					<%= t.fields_for :advertable do |field| %>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">İlan Adı</label>

						<div class = "col-sm-10">
							<%= t.text_field :name, class:"form-control" %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Fiyat</label>

						<div class = "col-sm-10">
							<%= t.text_field :price, class:"form-control" %>
						</div>
					</div>

					<div class = "row form-group">
						<label class = "col-sm-2 control-label">Açıklama</label>

						<div class = "col-sm-10">
							<%= t.text_field :explication, class:"form-control" %>
						</div>
					</div>

					<div class="row">
						<%= file_field_tag 'images[]', :type => :file, :multiple => true, :class => 'file_image'%>
					</div>

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<div class = "checkbox">
								<label>
									<input type = "checkbox">
									Kullanım koşullarını kabul ediyorum</label>
							</div>
						</div>
					</div>

					<div class = "row form-group">
						<div class = "col-sm-offset-2 col-sm-10">
							<%= t.submit 'İlan Ver',class:"btn btn-default" %>
						</div>
					</div>
					<% end %>
					<% end %>
					<% end %>

				</div>

				<div style="padding-left:50px; margin-top:85px;"class="sagsutun col-lg-6">
					-Kullanım Koşulları için <a href="#">buraya</a> tıklayınız.
					<br>
					<br>
					<br>
					-İlanınız onaylandıktan sonra yayınlanacaktır.
					<br>
					<br>
					<br>
					-Sitemizin işleyişi ile ilgili bilgi mi almak istiyorsunuz? <a href="#">Buraya</a> tıklayın.
					<br>
					Ya da yardıma mı ihtiyacınız var? O zaman <a href="#">buraya</a> tıklayın.
				</div>

			</div>

		</div>

		<%= render "footer" %>

		</div>
		<!-- Resim Silme-->
		<script>
			function resimsil(k,l) {
				
				if (confirm("Silmek istediğinize emin misiniz?") == true) {
			        
			    
					$.ajax({
						
						url: '/deleteimage',
						data: {
							authenticity_token : window._token,
							advert : k,
							image : l
							
							
						},
						
						error : function () {
							alert('error');
							
						},
						
						dataType: 'json',
						success: function(data) {
							
							if (data.check) {
								$(".image-"+l).hide();
								
								
							}
							
							
						},
						type : 'POST'
						
			
						
					});
				}
				
				
			}
			
			
		</script>


		<script>
imageupload(".file_image").filer({
limit: 5,
maxSize: 2,
extensions: ['jpg', 'jpeg', 'png'],
changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Resim dosyalarınızı buraya sürükleyebilirsiniz</h3> <span style="display:inline-block; margin: 15px 0">veya</span></div><a class="jFiler-input-choose-btn blue">Buradan Ekleyin </a></div></div>',
showThumbs: true,
theme: "dragdropbox",
templates: {
box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
item: '<li class="jFiler-item">\
<div class="jFiler-item-container">\
<div class="jFiler-item-inner">\
<div class="jFiler-item-thumb">\
<div class="jFiler-item-status"></div>\
<div class="jFiler-item-info">\
<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
<span class="jFiler-item-others">{{fi-size2}}</span>\
</div>\
{{fi-image}}\
</div>\
<div class="jFiler-item-assets jFiler-row">\
<ul class="list-inline pull-left">\
<li>{{fi-progressBar}}</li>\
</ul>\
<ul class="list-inline pull-right">\
<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
</ul>\
</div>\
</div>\
</div>\
</li>',
itemAppend: '<li class="jFiler-item">\
<div class="jFiler-item-container">\
<div class="jFiler-item-inner">\
<div class="jFiler-item-thumb">\
<div class="jFiler-item-status"></div>\
<div class="jFiler-item-info">\
<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
<span class="jFiler-item-others">{{fi-size2}}</span>\
</div>\
{{fi-image}}\
</div>\
<div class="jFiler-item-assets jFiler-row">\
<ul class="list-inline pull-left">\
<li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
</ul>\
<ul class="list-inline pull-right">\
<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
</ul>\
</div>\
</div>\
</div>\
</li>',
progressBar: '<div class="bar"></div>',
itemAppendToEnd: false,
removeConfirmation: true,
_selectors: {
list: '.jFiler-items-list',
item: '.jFiler-item',
progressBar: '.bar',
remove: '.jFiler-item-trash-action'
}
},
dragDrop: {
dragEnter: null,
dragLeave: null,
drop: null,
},
files: null,
addMore: true,
clipBoardPaste: true,
excludeName: null,
beforeRender: null,
afterRender: null,
beforeShow: null,
beforeSelect: null,
onSelect: null,
afterShow: null,

onEmpty: null,
options: null,
captions: {
button: "Choose Files",
feedback: "Choose files To Upload",
feedback2: "files were chosen",
drop: "Drop file here to Upload",
removeConfirmation: "Are you sure you want to remove this file?",
errors: {
filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
filesType: "Only Images are allowed to be uploaded.",
filesSize: "{{fi-name}} is too large! Please upload file up to {{fi-maxSize}} MB.",
filesSizeAll: "Files you've choosed are too large! Please upload files up to {{fi-maxSize}} MB."
}
}
});
		</script>

		<!-- pluginler -->

		<!--  fixed header -->

		<%= render "headerfixedjs" %>

	</body>

</html>